.beneficios-interna {
  font-family: Arial !important;
  .panel-body {
    padding-bottom: 40px;
  }
  .beneficios-info {
    p:nth-child(2) {
      margin-top: 15px;
    }
  }
  .beneficios-section {
    .beneficios-items {
      display: flex;
      margin: 30px 0 7px 0;
      ul {
        padding: 0;
        li {
          list-style: none;
          margin-bottom: 20px;
          color: #000000;
        }
        &.beneficios-resgate-respostas {
          margin-left: 10px;
          li {
            font-weight: bold;
            &.beneficios-resgate-user {
              font-weight: normal;
              color: #d82482;
              font-size: 14px;
              border: 1px solid #dededf;
              height: 30px;
              width: 196px;
              border-radius: 3px;
              overflow: hidden;
              background: #ffffff url("../ArquivosEstaticos/MinhaOi/images/ic_select.svg") no-repeat 98% 50%;
              select {
                  padding: 5px 8px;
                  width: 130%;
                  border: none;
                  box-shadow: none;
                  background: transparent;
                  background-image: none;
                  -webkit-appearance: none;
                  &:focus {
                      outline: none;
                  }
              }
            }
          }
        }
      }
    }
    a.btn-oi-pontos {
      width: 230px;
      padding: 10px;
      text-transform: uppercase;
      font-size: 11px;
      color: #333333;
    }
  }
}

// Sucesso

.beneficios-success {
  .page-success{
    display: flex;
    align-items: flex-start;
  }
  font-family: Arial !important;
  .panel-body {
    padding-bottom: 40px;
  }
  .oi-header {
    display: none;
  }
  .success-msg {
    display: flex;
    flex-flow:column wrap;
    align-items: center;
    color: #19c40b;
    margin-top: 20px;
    span {
      font-size: 20px;
      text-transform: uppercase;
    }
    i.success-icon {
      font-size: 40px;
      margin-bottom: 10px;
    }
  }
  .beneficios-success-info {
    display: flex;
    align-items: center;
    position: relative;
    .experiencia-img {
      margin-right: 20px;
    }
    .beneficios-success-details {
      display: flex;
      margin: 40px 0;
      ul {
        padding: 0;
        li {
          list-style: none;
          margin-bottom: 20px;
          color: #000000;

          p{
              &.resgate-tipo {
                color: #9f2aff;
              }
            &.espacamento-li {
              width: 136px;
              display: block;
            }
            &.size-span {
              width: 470px;
              font-weight: bold;
            }
          }
        }
        // &.beneficios-resgate-respostas {
        //   margin-left: 10px;
        //   li {
        //     font-weight: bold;
        //   }
        // }
      }
    }
    a.oi-pontos-print {
      display: flex;
      align-items: center;
      //text-decoration: underline;
      color: #d82482;
      font-size: 12px;
      font-weight: bold;
      position: absolute;
      top: 40px;
      right: 0;
      &:hover {
        text-decoration: none !important;
      }
      span {
        text-decoration: underline;
        margin-left: 5px;
        display: block;
      }
    }
  }
  .beneficios-como {
    p{
      min-height: 80px;
    }
  }
}
