.beneficios {
  font-family: Arial !important;
  width: 724px;

  .beneficios-items {
    .no-beneficios-item {
      width: 100%;
      text-align: left;
    }
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .beneficios-item {
      border: solid 1px #dbdbdb;
      width: 163px;
      height: 129px;
      margin:0  10px 0 0;
      padding: 10px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      .beneficios-title {
        width: 136px;
        line-height: 1.14;
        margin: 14px 0;
        height: 32px;
        color: #d82482;

      }
      .beneficios-pontos {
        font-weight: bold;
        border-top: 1px solid #dbdbdb;
        padding-top: 18px;
      }
    }
  }
}
