.cadastro-pontos {
  width: 724px;
  .panel-body {
    margin-top: -20px;
  }
  .form-pontos {
    position: relative;
    // input.input-mail {
    //   border: solid 1px #d4d4d4;
    //   border-radius: 2px;
    //   width: 470px;
    //   height: 65px;
    //   padding: 15px 0 0 20px;
    //   font-family: 'SimplonBP';
    //   color: #222222;
    //   font-size: 18px;
    // }
    a {
      font-weight: bold;
      color: #d82482;
      &:hover {
        text-decoration: none !important;
      }
    }
    .aceito-termo {
      margin: 14px 0 40px 0;
      input {
        margin-right: 10px;
      }
      .styled-checkbox {
        position: absolute; // take it out of document flow
        opacity: 0; // hide it

        & + label {
          position: relative;
          cursor: pointer;
          padding: 0;
        }

        // Box.
        & + label:before {
          content: '';
          margin:-2px 10px 0 0;
          display: inline-block;
          vertical-align: text-top;
          width: 18px;
          height: 18px;
          background: #ffffff;
          border: 2px solid #d82482;
          border-radius: 2px;
        }

        // Box hover
        // &:hover + label:before {
        //   background: #d82482;
        // }

        // Box checked
        &:checked + label:before {
          //background: #d82482;
        }

        // Disabled state label.
        &:disabled + label {
          color: #b8b8b8;
          cursor: auto;
        }

        // Disabled box.
        &:disabled + label:before {
          box-shadow: none;
          background: #ddd;
        }

        // Checkmark. Could be replaced with an image
        &:checked + label:after {
          content: url("../ArquivosEstaticos/MinhaOi/images/ic_check.svg");
          position: absolute;
          left: -2px;
          top: -3px;
          width: 2px;
          height: 2px;

        }
      }
    }
    a.butt {
      color: #333333;
      font-size: 11px;
      width: 230px;
      text-transform: uppercase;
      height: 37px;
      padding-top: 10px;
    }
  }
  #regulamentoModal {
    .modal-content {
      max-height: 519px;
      overflow-y: scroll;
    }
  }
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
  // margin: 1em;
    border-radius: 2px;
    width: 470px;
    height: 65px;
	vertical-align: top;
}

.input__field {
  position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	  font-family: 'SimplonBP';
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
  display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #222222;
	font-weight: bold;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

  .input--pontos {
	  overflow: hidden;
  }

  .input__field--pontos {
    position: absolute;
	z-index: 100;
	padding: 2em 1em;
	width: 100%;
	background: transparent;
	color: #222222;
	font-size: 1.125em;
    font-family: 'SimplonBP';
  }

  .input__label--pontos {
    padding: 0;
	width: 100%;
	height: 100%;
	border:1px solid #d4d4d4;
	text-align: left;
    border-radius: 2px;
    width: 470px;
    height: 65px;
  }

  .input__label-content--pontos {
    padding: 1.5em 1em;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s, color 0.3s;
	transition: transform 0.3s, color 0.3s;

	text-rendering: geometricPrecision;
  }

  .input__label--pontos::before {
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0px solid transparent;
	-webkit-transition: border-width 0.3s, border-color 0.3s;
	transition: border-width 0.3s, border-color 0.3s;
  }

  // .input__field--pontos:focus + .input__label--pontos::before,
  // .input--filled .input__label--pontos::before {
  // 	border-width: 8px;
  // 	border-color: #1784cd;
  // 	border-top-width: 2em;
  // }

  .input__field--pontos:focus + .input__label--pontos .input__label-content--pontos,
  .input--filled .input__label--pontos .input__label-content--pontos {
  	color: #909090;
      //padding: 2em 1em;
  	-webkit-transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1);
  	transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
  }
}
