.experiencia-img {
  width: 110px;
  height: 92px;
  float: left;
  margin-right: 10px;
  img {
    width: 100%;
  }
}
.experiencias {
  font-family: Arial !important;
  width: 724px;
  .title {
    margin-bottom: 20px;
  }
  .eventos-thumbs {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    .evento-item {
      width: 163px;
      height: 191px;
      border: solid 1px #dbdbdb;
      cursor: pointer;
      // -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
      // box-shadow: 0 1px 1px rgba(0,0,0,.05);
      margin:0 8px 0 0;
      //border-radius: 3px;
      text-align: center;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      &:last-child {
        margin-right: 0;
      }
      .evento-label-esgotado {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #9f2aff;
        color: #fff;
        width: 92px;
        height: 20px;
        border-radius: 51px;
        font-size: 12px;
        margin:3px 0 1px 0;
        //font-family: SimplonBP;
        span {
          font-weight: lighter;
          display: block;
          margin-top: 2px;
        }
        i {
          font-size: 16px !important;
          margin-right: 3px;
        }
      }
      .evento-img {
        width: 110px;
        height: 110px;
        // align-items: center;
        // display: flex;
        img {
          width: 100%;
        }
      }
      p.text {
        width: 152px;
        height: 42px;
        font-size: 12px;
        color: #909090;
        span {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
