.experiencias-interna {
  font-family: Arial !important;
  .panel-body {
    padding-bottom: 30px;
  }
  .experiencias-info {
    margin:20px 0 20px 0;

    .experiencias-text {

      p{
        line-height: 1.14;
        a {
          color: #d82482;
          font-weight: bold;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        margin-left: 122px;
        li {
          display: inline-block;
          a {
            font-size: 16px;
            font-weight: bold;
            display: block;
            margin-top: 5px;
          }
        }
      }
    }
    .local-experiencia {
      padding-top: 25px;
    }
  }
  .experiencias-items {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    cursor: pointer;
    position: relative;
    .experiencias-item {
      border: solid 1px #dbdbdb;
      width: 163px;
      height: 129px;
      margin:0  10px 10px 0;
      padding: 10px;
      &:last-child {
        margin-right: 0;
      }
      .experiencias-title {
        width: 136px;
        line-height: 1.14;
        color: #d82482;
        margin: 5px 0 20px 0;
        height: 40px;
      }
      .experiencias-pontos {
        font-weight: bold;
        border-top: 1px solid #dbdbdb;
        padding-top: 10px;
      }
      span {
        display: block;
        font-weight: bold;
        color: #909090;
        margin-top: -12px;
        font-size: 12px;
      }
    }
  }
  .disable {
    opacity: 0.5;
    cursor: default;
  }
  .label-breve {
    width: 72px;
  height: 20px;
  border-radius: 51px;
  background-color: #9f2aff;
  font-size: 12px;
  font-weight: normal !important;
  text-align: right;
  color: #ffffff !important;
  position: absolute;
  bottom: 53px;
  text-align: center;
  padding-top: 2px;
  left: 45px;
  cursor: default;

  }
}

// Sucesso

.experiencias-success {
  font-family: Arial !important;
  .panel-body {
    padding-bottom: 40px;
  }
  .oi-header {
    display: none;
  }
  .success-msg {
    display: flex;
    flex-flow:column wrap;
    align-items: center;
    color: #19c40b;
    margin:20px 0 30px 0;
    span {
      font-size: 20px;
      text-transform: uppercase;
    }
    i.success-icon {
      font-size: 40px;
      margin-bottom: 10px;
    }
  }
  .experiencias-success-info {
    display: flex;
    align-items: center;
    position: relative;
    .experiencia-img {
      margin-right: 20px;
      margin-top: -45px;
    }
    .experiencias-success-details {
      display: flex;
      //margin: 40px 0;
      ul {
        padding: 0;
        li {
          list-style: none;
          margin-bottom: 20px;
          color: #000000;
          display: flex;
          p{
            &.resgate-tipo {
              color: #9f2aff;
            }
            &.espacamento-li-experiencia {
              width: 136px;
              display: block;
            }
            &.size-span-experiencia {
              width: 340px;
              font-weight: bold;
            }
          }
        }

      }
    }
    a.oi-pontos-print {
      display: flex;
      align-items: center;
      //text-decoration: underline;
      color: #d82482;
      font-size: 12px;
      font-weight: bold;
      position: absolute;
      top: 0;
      right: 0;
      &:hover {
        text-decoration: none !important;
      }
      span {
        text-decoration: underline;
        margin-left: 5px;
        display: block;
      }
    }
  }
  .experiencias-como {
    p{
      min-height: 80px;
    }
  }
}
