.extrato{
  width: 724px;
  .panel-body {
    padding-bottom: 30px;
  }
    h2.spacer{
        margin: 40px 0 20px 0;
    }

    .extrato-resgate-user {
        border: 1px solid #dededf;
        height: 30px;
        width: 196px;
        border-radius: 3px;
        overflow: hidden;
        color: #d82482;
        background: #ffffff url("../ArquivosEstaticos/MinhaOi/images/ic_select.svg") no-repeat 98% 50%;
    }

    .extrato-resgate-user select {
        padding: 5px 8px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        font-weight: bold;
    }

    .extrato-resgate-user select:focus {
        outline: none;
    }

    font-family: Arial !important;
    .meus-cupons-table {
      color: #00002f;
      margin-top: 20px;
      thead {
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
        td {
          font-size: 12px;
          padding: 10px 8px;
          border-bottom: none;
        }
      }
      td {
        padding: 20px 8px;
        border-bottom: 1px dotted #dbdbdb;
        border-top: none;
        &.cupom-numero {
          text-align: right;
        }
      }
    }
    .table-nav {
      font-size: 16px;
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      a:first-child,span {
        margin-right: 5px;
      }
      .active {
        color: #d82482;
        font-weight: bold;
      }
    }
    .pontos-init{
        border-top: 1px solid #909090;

        td{
            padding-top: 40px;
        }
    }

    .pontos-end{
        border-bottom: 1px solid #909090;

        td{
            padding-bottom: 40px;
        }
    }

    .saldo-init{
        td{
            padding-top: 40px;
        }
    }

    .saldo-end{
        td{
            padding-bottom: 40px;
        }
    }

    .bonus-init{
        border-top: 1px solid #909090;

        td{
            padding-top: 40px;
        }
    }

    .bonus-end{
        border-bottom: 1px solid #909090;

        td{
            padding-bottom: 40px;
        }
    }

    .entenda-extrato{
        margin: 40px 0 20px 0;
    }
}
