
/* Below fix to Internet Explorer Fonts */
@font-face {
  font-family: 'SimplonBP-Light';
  font-weight: lighter;
  src:  url('../ArquivosEstaticos/MinhaOi/fonts/SimplonBP-Light.otf') format('opentype'),
        url('../ArquivosEstaticos/MinhaOi/fonts/SimplonBP-Light.woff') format('woff'),
         url('../ArquivosEstaticos/MinhaOi/fonts/SimplonBP-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SimplonBP-Bold';
  src:  url('../ArquivosEstaticos/MinhaOi/fonts/SimplonBP-Bold.otf') format('opentype'),
        url('../ArquivosEstaticos/MinhaOi/fonts/SimplonBP-Bold.woff') format('woff'),
        url('../ArquivosEstaticos/MinhaOi/fonts/SimplonBP-Bold.ttf') format('truetype');
}



@font-face {
  font-family: 'SimplonBP';
  src:   url('../ArquivosEstaticos/MinhaOi/fonts/SimplonBP-Regular.otf') format('opentype'),
         url('../ArquivosEstaticos/MinhaOi/fonts/SimplonBP-Regular.woff') format('woff'),
         url('../ArquivosEstaticos/MinhaOi/fonts/SimplonBP-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'SimplonOi-Headline';
  src:   url('../ArquivosEstaticos/MinhaOi/fonts/SimplonOi-Headline.otf') format('opentype'),
         url('../ArquivosEstaticos/MinhaOi/fonts/SimplonOi-Headline.woff') format('woff'),
         url('../ArquivosEstaticos/MinhaOi/fonts/SimplonOi-Headline.ttf') format('truetype');
}
