@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "oi-pontos.scss";
@import "pontos-header.scss";
@import "recompensas.scss";
@import "recompensas-interna.scss";
@import "experiencias.scss";
@import "experiencias-interna.scss";
@import "beneficios.scss";
@import "beneficios-interna.scss";
@import "modal.scss";
@import "meus-dados.scss";
@import "meus-cupons.scss";
@import "extrato.scss";
@import "fonts.scss";
@import "cadastro-pontos.scss";


.visihidden {
  visibility: hidden;
}
.btn-oi-pontos {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0%, #e8e8e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e8e8e8));
  background: -webkit-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
  background: -o-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
  background: -ms-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
  background: linear-gradient(to bottom, #fefefe 0%,#e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e8e8e8',GradientType=0 );
  font-weight: bold;
}
.btn-large-oi-pontos {
  height: 50px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e8e8e8));
  background-image: linear-gradient(to bottom, #fefefe, #e8e8e8);
  border: solid 1px #d3d1d1;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #020202;
  margin-top: 40px;
  padding-top: 10px;
  width: 100%;
  display: block;
}
h2.h2-oi-pontos {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0px;
  text-align: left;
  color: #00002f;
  margin-top: 40px;
}
a.pontos-links {
  color: #d82482;
  border-bottom: 1px solid #d82482;
  font-size: 14px;
  line-height: 1.14;
  &:hover {
    text-decoration: none !important;
    // opacity: 0.8 !important;
  }
  &:focus {
    text-decoration: none !important;
    // opacity: 0.8 !important;
  }
  &.font-bold {
    font-weight: bold;
  }
}

a.pontos-links-small {
  color: #d82482;
  border-bottom: 1px solid #d82482;
  font-size: 12px;
  line-height: 1.33;
  &:hover {
    text-decoration: none !important;
    // opacity: 0.8 !important;
  }
  &:focus {
    text-decoration: none !important;
    // opacity: 0.8 !important;
  }
  &.font-bold {
    font-weight: bold;
  }
}

.font-bold {
  font-weight: bold;
}
.pontos-info {
  margin-top: 40px;
  p {
    margin: 0 0;
  }
}

a.back {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #d82482;
  font-size: 16px;
  font-weight: bold;
  &:hover {
    text-decoration: none !important;
  }
  &:focus {
    text-decoration: none !important;
  }
}

.border-dot-top {
  border-top: 1px dotted #dbdbdb;
  padding-top: 10px;
}
