.meus-dados {
  width: 724px;
  .panel-body {
    padding-bottom: 40px;
  }
  .border-dot-top {
    .h2-oi-pontos {
      margin-top: 25px;
    }
  }
  .meus-dados-details {
    display: flex;
    margin: 20px 0 0 0;
    ul {
      padding: 0;
      li {
        list-style: none;
        margin-bottom: 20px;
        color: #000000;
      }
      &.meus-dados-respostas {
        margin-left: 10px;
        li {
          font-weight: bold;
        }
      }
    }
  }
}

// ERRO
.error-msg {
  border-radius: 4px;
  background-color: #f9ccc7;
  border: solid 1px #e35143;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  padding-left: 18px;
  font-size: 11px;
  text-align: left;
  color: #222222;
  i {
    color: #ff301d;
    margin-right: 5px;
  }
}
