.meus-cupons {
  font-family: Arial !important;
  width: 724px;
  .meus-cupons-table {
    color: #00002f;
    margin-top: 20px;
    thead {
      border-top: 1px solid #dbdbdb;
      border-bottom: 1px solid #dbdbdb;
      td {
        font-size: 12px;
        padding: 10px 8px;
        border-bottom: none;
      }
    }
    td {
      padding: 20px 8px;
      border-bottom: 1px dotted #dbdbdb;
      border-top: none;
      &.cupom-numero {
        text-align: right;
      }
    }
  }
  .table-nav {
    font-size: 16px;
    margin: 40px 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    a:first-child,span {
      margin-right: 5px;
    }
    .active {
      color: #d82482;
      font-weight: bold;
    }
  }
  .info-error {
    margin-top: 40px;
    p:nth-child(1) {
      margin-bottom: 30px;
    }
  }
}
