.modal-pontos {
  .modal {
    text-align: center;
    padding: 0!important;
  }

  .modal:before {
    content: '';
    display: inline-block;
    // height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  .modal-sm {
      width: 724px;
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      .close {
         margin-top: 0px;
        position: absolute;
        right: -38px;
        top: -38px;
        background: #222222;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        color: #fff;
        text-shadow: none;
        font-weight: normal;
        opacity: 1;
        border: 2px solid #fff;
        padding-top: -2px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
        font-size: 18px;
        line-height: 1;
        z-index: 999;
        /* text-align: center; */
        /* vertical-align: middle; */
        .material-icons.close-icon {
          display: block;
          font-weight: bold;
          margin-left: 1px;
          font-size: 18px;
          color: #fff;
          cursor: pointer;
        }
      }
  }
  .modal-content {
    width: 724px;
    height: auto;
    min-height: 268px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.46);
   	color: #000000;
  	padding: 20px 10px;
  	background-color: #ffffff;
  	border: 25px solid #f9f9f9;
  	position: relative;
  }

  .modal-header,.modal-footer {
    border: none;
  }
  .modal-header {
    .modal__title {
      font-size: 30px;
      font-weight: bold;
      letter-spacing: -0.5px;
      text-align: left;
      color: #000000;
    }

  }
  .modal-body {
    p {
      font-size: 14px;
      color: #000000;

      span{
        font-weight: bold;
      }

      &:first-child {
        margin-top: -25px;
      }
    }
    p.modal-subtitle {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: -0.3px;
      color: #000000;
    }
    p.modal-subtitle-sobre{
      margin-top: 40px;
    }
    p.modal-confirma-spacer{
      margin-bottom: 40px;

      span{
        font-weight: bold;
      }
    }

  }
  .modal-footer {
    text-align: center;
    //margin-top: 30px;
    a {
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      color: #333333;
      width: 120px;
      text-transform: uppercase;
    }
    a.modal-cancelar{
      margin-left: 16px;
    }
  }

  &.modal-experiencia .btn-oi-pontos {
    width: 194px;
  }
  a.confirma-resgate-modal {
    margin-right: 20px;
  }
}
#lerMaisModal {
  .modal-subtitle {
    margin: 40px 0 20px 0;
  }
}
#confirmaResgateModal {
  .modal-content {
    min-height: 361px;
  }
  .modal-saldo {
    margin-top: 30px;
  }
  .modal-footer {
    margin-top: 40px;
  }
}
#cancelaParticipacaoModal {
  .modal-content {
    min-height: 361px;
  }
  .modal-footer {
    margin-top: 70px;
  }
}
#regulamentoModal {
  .close {
     margin-top: 0px;
    position: absolute;
    right: -15px;
    top: -15px;
    background: #222222;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    color: #fff;
    text-shadow: none;
    font-weight: normal;
    opacity: 1;
    border: 2px solid #fff;
    padding-top: -2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 1;
    z-index: 999;
    /* text-align: center; */
    /* vertical-align: middle; */
    .material-icons.close-icon {
      display: block;
      font-weight: bold;
      margin-left: 1px;
      font-size: 18px;
      color: #fff;
      cursor: pointer;
    }
  }
}
