.oi-pontos {
  font-family: Arial !important;
  width: 724px;
  .panel-body {
    padding-bottom: 40px;
  }
  .box-produto .box-header {
    //border:none;
  }

  a.pontos-links {
    color: #d82482;
    border-bottom: 1px solid #d82482;
    font-size: 14px;
    line-height: 1.14;
    &:hover {
      text-decoration: none !important;
      opacity: 0.8 !important;
    }
    &.font-bold {
      font-weight: bold;
    }
  }
  h2 {
    &.aparelhos-main-title {
      font-size: 18px;
      border-bottom: 1px dotted #777777;
      padding-bottom: 20px;
    }
  }
  ul.nav.nav-pills {
    //margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    &>li {
      width: 24%;
      text-align: center;
      a {
        color: #222222 !important;

        &:hover {
          background-color: transparent !important;
          text-decoration: none !important;
          opacity: 0.8;
          color: #d82482 !important;
        }
        &:focus {
          background-color: transparent !important;
          text-decoration: none !important;
          opacity: 0.8;
          color: #d82482 !important;
        }
      }
      &.active>a, .active>a:focus, .active>a:hover {
        font-weight: bold !important;
        background-color: transparent !important;
        border-bottom: 2px solid #d82482;
        border-radius: 0;
        color: #d82482 !important;
      }
    }
  }
  .aparelhos-title {
    h2 {
      margin-bottom: 20px;
    }
  }
  .banner {
    height: 206px;
    img {
      width: 100%;
      max-width: 100%;
    }
  }

  .aparelhos-cart {
    border-bottom: 1px dotted #dbdbdb;;
    border-top: 1px dotted #dbdbdb;;
    padding: 0px 0 25px 0;
    margin-top: 40px;
    display: flex;
    position: relative;
    h2 {
      margin-bottom: 20px;
    }
    .aparelhos-resgate {
      position: absolute;
      right: 0;
    }
  }
  .pontos-info {
    margin-top: 40px;
  }


}
