.oi-header {
  font-family: Arial !important;
  width: 724px;
  &.box-header {
    margin-right: -15px !important;
    margin-left: -15px !important;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 16px;
   }
.pontos-header{
    display: flex;
    flex-direction: row;
    background: #FFF;
    //height: 135px;
    padding: 20px 16px 10px 16px;
    position: relative;

    dt {
        width: 140px;
        height: 18px;
        font-size: 14px;
        font-family: Arial;
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        font-weight: normal;
        color: #909090;
        margin-right: 5px;
        align-items: flex-start;
    }

    dd{
        font-family: Arial;
        font-size: 26px;
        font-weight: bold;
        text-align: left;
        color: #222222;
        margin-top: 5px;
    }
    dd.menor{
        font-size: 18px;
        height: 20px;
        margin-top: 15px;
        align-self: flex-start;
    }

    ul.menu-header{
      position: absolute;
      right: 0;
      display: flex;
      align-items: flex-end;
      list-style-type: none;
      justify-content: space-between;
      height: 40px;


      li{
        margin-right: 40px;
          a {
            display: flex;
            //margin-left: 15px;
            align-items: center;
            font-family: Arial;
            font-size: 12px;
            font-weight: bold;
            color: #d82482;

            //padding: 0 5px;
            &.active {
              color: #000000;
              pointer-events: none;
              cursor: default;
            }
            &:hover {
              text-decoration: none !important;
            }
            &:focus {
              text-decoration: none !important;
            }
            span {
              border-bottom: 1px solid #d82482;
              margin-left: 2px;
              display: block;
              &.active {
                border-bottom: none;
              }
            }
          }

        i.material-icons{
          font-size: 18px;

        }
      }
      li:last-child{
        margin-right: 0px;
      }

    }

  }
}
