.recompensas {
   width: 724px;
   padding-right: 30px;
  .pontos-info {
    margin-top: 20px;
  }
  .box-produto .box-header {
    border:none;
  }

  a.recompensas-links {
    color: #d82482;
    border-bottom: 1px solid #d82482;
    font-size: 14px;
    line-height: 1.14;
    &:hover {
      text-decoration: none !important;
      opacity: 0.8 !important;
    }
    &.font-bold {
      font-weight: bold;
    }
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0px;
    text-align: left;
    color: #00002f;
    &.aparelhos-main-title {
      font-size: 18px;
      border-bottom: 1px dotted #777777;
      padding-bottom: 20px;
    }
  }
  ul.nav.nav-pills {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    &>li {
      width: 24%;
      text-align: center;
      a {
        color: #d82482 !important;

        &:hover {
          background-color: transparent !important;
          text-decoration: none !important;
          opacity: 0.8;
        }
      }
      &.active>a, .active>a:focus, .active>a:hover {
        font-weight: bold !important;
        background-color: transparent !important;
        border-bottom: 2px solid #d82482;
        border-radius: 0;
      }
    }
  }
  .recompensas-title {
    h2 {
      margin-bottom: 20px;
    }
  }

  section.recompensas-panel{
    margin-top: 60px;

    .item-recompensas{
      width: 150px;
      height: 150px;
      background-color: #ffffff;
      border: solid 1px #dbdbdb;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 20px;

      .box-img-recompensas{
        width: 100%;
        display: flex;
        align-items: center;
        height: 120px;
      }

      img{
        width: 100%;
        height: auto;
        padding: 0 20px 0 20px;
        display: block;
      }

      .card-block{
        position: relative;
        bottom: 0;
        align-self: center;
      }

      p.recompensas-title{
        font-family: Arial;
        font-size: 12px;
        text-align: center;
        color: #909090;
        margin: 5px 0;
      }

    }

  }




/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 206px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 206px;
}

i.arrows{
  margin-top: 70px;
  font-size: 70px;
  color: #FFF;
}
.carousel-indicators{
  bottom: -35px;

  li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #dbdbdb;
    border-radius: 50%;
  }

}

.carousel-indicatorscarousel-indicators .active{
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #909090;
}

}
