.recompensas-interna{
    a.link-interna{
        font-size: 16px;
        font-weight: bold;
        color: #d82482;

    }

    a.como-usar{
        text-decoration: underline;
    }

    a.voltar{
        text-decoration: none !important;
        display: inline-flex;
        flex-direction: row;

        span{
            font-size: 30px;
            margin-right: 5px;
            text-decoration: none;
            margin-top: -8px;

            i{
                align-self: flex-end;
            }
        }
    }

    section.recompensas-detail{
        background: #FFF;
        display: block;
        border-bottom: none;
        margin-bottom: 40px;
        margin-top: 40px;


        h2{
            font-family: Arial;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: -0px;
            text-align: left;
            color: #00002f;
            margin-bottom: 40px 0 20px 0;
        }

        img{
            margin-right: 16px;
        }

        p.recompensas-descricao{
            font-size: 14px;
            line-height: 16px;
            color: #222222;

            a{
                font-weight: bold ;
                color: #d82482;
                display: inline-block;
            }

        }

    }
    
    .recompensas-items {
        margin-top: 20px;
        margin-bottom: 25px;
        text-align: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        .recompensas-item {
            border: solid 1px #dbdbdb;
            width: 168px;
            height: 129px;
            margin-right: 25px;
            padding: 10px;
            &:last-child {
            margin-right: 0;

            .recompensas-label-embreve {
                display: flex;
                align-items: center;
                align-self: center;
                justify-content: center;
                background: #9E29FF;
                color: #fff;
                width: 92px;
                height: 20px;
                border-radius: 51px;
                font-size: 12px;
                margin:-10px 0 1px 25px;
                position: absolute;
                //font-family: SimplonBP;
                span {
                  font-weight: lighter;
                  display: block;
                  margin-top: 2px;
                }
                i {
                  font-size: 16px !important;
                  margin-right: 3px;
                }
              }
            }
            .recompensas-title {
            width: 145px;
            height: 50px;
            line-height: 1.14;
            color: #d82482;
            margin: 14px 0;
            text-decoration: none;
            }
            .recompensas-pontos {
            font-weight: bold;
            border-top: 1px solid #dbdbdb;
            padding-top: 11px;
            text-decoration: none;
            }

            .invisible-title{
                color: rgba(216, 36, 130, .5) !important;
            }

            .invisible-pontos{
                margin-top: 15px;
                color: rgba(34, 34, 34, .5) !important;
            }





        }

        .invisible-border{
            border: 1px solid rgba(219, 219, 219, .5) !important;
        }

    }


    ul.recompensas-links{
    margin: 0;
    padding: 0;
    margin-left: 122px;
    li {
        display: inline-block;
        a {
        font-size: 16px;
        font-weight: bold;
        }
    }
    }


}
