
<div id="home-produto" class="main pull-left">
<style>
    /* <!-- inject:css --> */
</style>
  <section class="breadcrumb">
    <!--  INICIO BREADCRUMB -->
    <strong>Você está em: </strong><a href="oi-pontos.html">Seu Oi Pontos</a> > Benefícios Oi</span>
    <!--  FIM BREADCRUMB -->
 </section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
<div id="divContent" class="beneficios-success">
<!-- begin: style_minhaoi_container_plano -->
	<div id="box-internet">
		<h2 class="sub-header">
			<span class="mini-icon-home"></span>
	    <a href="/portal/site/MinhaOi/home_produto_int">Oi Pontos</a>
		</h2>
		<div class="panel panel-default row box-produto">
			<div class="panel-body">
          <section class="success-msg">
            <i class="material-icons success-icon">&#xE86C;</i>
            <span>Resgate concluído</span>
          </section>

          <section class="beneficios-success-info">
            <a class="oi-pontos-print">
            <i class="material-icons print-icon">&#xE8AD;</i>
              <span>
                Imprimir
              </span>
            </a>
            <div class="beneficios-success-details">
              <ul>
                <li class="page-success">
                  <p class="espacamento-li">Solicitação:</p>
                  <p class="beneficios-resgate-pontos size-span">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  </p>
                </li>
                <li class="page-success">
                  <p class="espacamento-li">Data:</p>
                  <p class="beneficios-resgate-data size-span">17/09/2017 - 15:21hrs</p>
                </li>
                <li class="page-success">
                  <p class="espacamento-li">Tipo de Prêmio:</p>
                  <p class="beneficios-resgate-tipo resgate-tipo size-span">30 SMS por 12 meses</p>
                </li>
                <li class="page-success">
                  <p class="espacamento-li">Pontos:</p>
                  <p class="beneficios-resgate-qtdpontos size-span">450</p>
                </li>
                <li class="page-success">
                  <p class="espacamento-li">Saldo final:</p>
                  <p class="beneficios-resgate-saldo size-span">208,50 pontos</p>
                </li>
                <li class="page-success">
                  <p class="espacamento-li">Disponibilizado para:</p>
                  <p class="beneficios-resgate-telefone size-span">(21) 98765-4321</p>
                </li>
                <li class="page-success">
                  <p class="espacamento-li">Nº de Protocolo:</p>
                  <p class="beneficios-resgate-protocolo size-span">61-0734-00000055948</p>
                </li>
              </ul>
            </div>
          </section>
          <section>
              <a class="btn btn-default btn-large-oi-pontos" href="oi-pontos.html">Voltar para o início</a>
            </section>

          <!-- <section class="pontos-info">
            <p>
                Tire suas dúvidas pelo <a href="#" class="pontos-links">Dúvidas frequentes.</a>
            </p>
            <p>
               Pra falar com o Oi Pontos ligue do seu Oi <strong>*3131</strong> ou de
               qualquer fixo <strong>0800 284-3131</strong> de Segunda à Domingo de 07:40 às 20:20
               (horário de Brasília).
            </p>
            <p>
               Consulte o <a href="#" class="pontos-links">regulamento do programa.</a>
            </p>
          </section> -->

						<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


	          <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->


				</div>

			</div>


		</div>
	</div>
</div>
