
<div id="home-produto" class="main pull-left">
<style>
    /* <!-- inject:css --> */
</style>
  <section class="breadcrumb">
    <!--  INICIO BREADCRUMB -->
    <strong>Você está em: </strong><a href="oi-pontos.html">Seu Oi Pontos</a> > Benefícios Oi</span>
    <!--  FIM BREADCRUMB -->
 </section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
<div id="divContent" class="beneficios-interna">
<!-- begin: style_minhaoi_container_plano -->
	<div id="box-internet">
		<h2 class="sub-header">
			<span class="mini-icon-home"></span>
	    <a href="/portal/site/MinhaOi/home_produto_int">Oi Pontos</a>
		</h2>
		<div class="panel panel-default row box-produto">
			<div class="panel-body">
          <div class="row box-header oi-header">

              <div class="pontos-header">
                <div>
                  <dl>
                    <dt>Saldo de pontos</dt>
                    <dd>708,50</dd>
                  </dl>
                </div>
                <div>
                  <dl>
                    <dt>Pontos a expirar nos próximos 30 dias</dt>
                    <dd class="menor">50,50</dd>
                  </dl>
                </div>
                <ul class="menu-header right">
                  <li><a href="extrato.html"><i class="material-icons">&#xE8B0;</i><span>Meu extrato</span></a></li>
                  <li><a href="meus-cupons.html"><i class="material-icons">&#xE638;</i><span>Meus cupons</span></a></li>
                  <li><a href="meus-dados-logado.html" class=""><i class="material-icons">&#xE7FD;</i><span class="">Meus dados</span></a></li>
                </ul>

              </div>
              <!-- FIM PONTOS-HEADER -->

          </div>
          <section class="title">
            <h2 class="h2-oi-pontos">
              30 SMS por 12 meses
            </h2>
          </section>
          <section class="beneficios-info">
            <p>
              <strong>Atenção:</strong> Caso você ja tenha esse pacote de SMS no seu plano,
              o benefício resgatado pelo programa de fielidade não será validado.
            </p>
            <p>
              <strong>
                Fique atento se você já efetuou um resgate de pacote de SMS.
                Aguarde até o término do seu pacote vigente para solicitar um novo resgate ou
                solicite o resgate de outro serviço Oi.
              </strong>
            </p>
          </section>
          <section class="beneficios-section">
            <div class="beneficios-items">
              <ul>
                <li>
                  Valor do benefício:
                </li>
                <li>
                  Saldo após o resgate:
                </li>
                <li>
                  Quem vai usar:
                </li>
              </ul>
              <ul class="beneficios-resgate-respostas">
                <li class="beneficios-resgate-valor">
                  450 Pontos
                </li>
                <li class="beneficios-resgate-saldo">
                  258,50 Pontos
                </li>
                <li class="beneficios-resgate-user">
                  <select class="beneficios-user" name="select-beneficios-user">
                  <option value="(21) 98765-4321">(21) 98765-4321</option>
                  <option value="(21) 99765-5555">(21) 99765-5555</option>
                  </select>
                </li>
              </ul>
            </div>
            <a href="beneficios-sucesso.html" class="btn btn-default btn-oi-pontos">Trocar</a>
          </section>



          <!-- <section class="pontos-info">
            <p>
                Tire suas dúvidas pelo <a href="#" class="pontos-links">Dúvidas frequentes.</a>
            </p>
            <p>
               Pra falar com o Oi Pontos ligue do seu Oi <strong>*3131</strong> ou de
               qualquer fixo <strong>0800 284-3131</strong> de Segunda à Domingo de 07:40 às 20:20
               (horário de Brasília).
            </p>
            <p>
               Consulte o <a href="#" class="pontos-links">regulamento do programa.</a>
            </p>
          </section> -->

						<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


	          <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->


				</div>

			</div>
      <p class="back-button">
        <a class="back" href="#"><i class="material-icons arrows">&#xE314;</i><span>Voltar</span>  </a>

      </p>

		</div>
	</div>
</div>
