
<div id="home-produto" class="main pull-left">
<style>
    /* <!-- inject:css --> */
</style>
  <section class="breadcrumb">
    <!--  INICIO BREADCRUMB -->
    <strong>Você está em: </strong><a href="oi-pontos.html">Seu Oi Pontos</a> > Experiências Oi</span>
    <!--  FIM BREADCRUMB -->
 </section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
<div id="divContent" class="experiencias-interna">
<!-- begin: style_minhaoi_container_plano -->
	<div id="box-internet">
		<h2 class="sub-header">
			<span class="mini-icon-home"></span>
	    <a href="/portal/site/MinhaOi/home_produto_int">Oi Pontos</a>
		</h2>
		<div class="panel panel-default row box-produto">
			<div class="panel-body">
          <div class="row box-header oi-header">

              <div class="pontos-header">
                <div>
                  <dl>
                    <dt>Saldo de pontos</dt>
                    <dd>708,50</dd>
                  </dl>
                </div>
                <div>
                  <dl>
                    <dt>Pontos a expirar nos próximos 30 dias</dt>
                    <dd class="menor">50,50</dd>
                  </dl>
                </div>
                <ul class="menu-header right">
                  <li><a href="extrato.html"><i class="material-icons">&#xE8B0;</i><span>Extrato</span></a></li>
                  <li><a href="meus-cupons.html"><i class="material-icons">&#xE638;</i><span>Meus cupons</span></a></li>
                  <li><a href="meus-dados-logado.html" class=""><i class="material-icons">&#xE7FD;</i><span class="">Meus dados</span></a></li>
                </ul>

              </div>
              <!-- FIM PONTOS-HEADER -->

          </div>
          <section class="title">
            <h2 class="h2-oi-pontos">Turma da Monica em: Era uma vez… Uma história de Principes e Princesas</h2>
          </section>
          <section class="experiencias-info">
            <div class="experiencia-img">
              <img src="ArquivosEstaticos/MinhaOi/images/parque.png" alt="">
            </div>
            <div class="experiencias-text">
              <p>
              Com atuação no Brasil, Argentina e México, a Netshoes é apontada como o maior e-commerce
              de artigos esportivos do mundo. O esporte está no DNA, assim a inovação, praticidade e
              agilidade. A missão da empresa é inspirar e transformar a vida das pessoas com mais esporte e lazer.
              Para isso, oferece mais de 40 mil artigos, em...<a href="#" class="pontos-links" data-toggle="modal" data-target="#lerMaisModal">Leia mais</a>
              </p>
              <ul class="experiencias-links">
                <!-- <li><a href="#" class="pontos-links" data-toggle="modal" data-target="#lerMaisModal">Ler Mais</a></li> -->
                <li><a href="#" class="pontos-links" data-toggle="modal" data-target="#comoUsarModal">Como usar</a></li>
              </ul>
            </div>
              <p class="local-experiencia"><strong>Local:</strong> Oi Casa Grande - Rio de Janeiro - RJ</p>
          </section>
          <section class="experiencias-items">
            <div class="experiencias-item">
              <div class=" disable">


                <p class="experiencias-title">
                  Rio mais Brasil, o nosso musical <br/> Dia 09/09 21:00
                </p>
                <p class="experiencias-pontos">
                  500 Pontos
                </p>
                <span>2 ingressos</span>
              </div>
              <span class="label-breve">Esgotado</span>
            </div>
            <div class="experiencias-item" data-toggle="modal" data-target="#confirmaResgateModal">
              <p class="experiencias-title">
                Show no dia 18/06  <br/> Domingo 16:00
              </p>
              <p class="experiencias-pontos">
                500 Pontos
              </p>
              <span>2 ingressos</span>
            </div>
            <div class="experiencias-item" data-toggle="modal" data-target="#confirmaResgateModal">
              <p class="experiencias-title">
                Show no dia 24/06 <br/>Sábado 16:00
              </p>
              <p class="experiencias-pontos">
                500 Pontos
              </p>
              <span>2 ingressos</span>
            </div>
            <div class="experiencias-item" data-toggle="modal" data-target="#confirmaResgateModal">
              <p class="experiencias-title">
                Show no dia 25/06  <br/>Domingo 16:00
              </p>
              <p class="experiencias-pontos">
                500 Pontos
              </p>
              <span>2 ingressos</span>
            </div>

          </section>
          <section class="modal-pontos modal-experiencia">
            <div id="lerMaisModal" role="dialog" class="modal fade" style="display: none;">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button data-dismiss="modal" type="button" class="close"><i class="material-icons close-icon" id="close">&#xE5CD;</i></button>
                    <p class="modal__title">Sobre a Turma da Monica</p>
                  </div>
                  <div class="modal-body">
                  <p>
                    Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos,
                    e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja
                    de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só
                    a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
                    Se popularizou na década de 60.
                  </p>
                  <p class="modal-subtitle">
                    Regras de uso
                  </p>
                  <p>
                    Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos,
                    e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja
                    de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não
                    só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente
                    inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens
                    de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica
                    como Aldus PageMaker.
                  </p>
                </div>
                <div class="modal-footer">
                  <a data-dismiss="modal" type="button" class="btn btn-default btn-oi-pontos">OK</a>
                </div>
              </div>
            </div>
            </div>
          </section>
          <section class="modal-pontos modal-experiencia">
            <div id="comoUsarModal" role="dialog" class="modal fade" style="display: none;">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button data-dismiss="modal" type="button" class="close"><i class="material-icons close-icon" id="close">&#xE5CD;</i></button>
                    <p class="modal__title">Como usar</p>
                  </div>
                  <div class="modal-body">
                  <p>
                    Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos,
                    e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja
                    de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só
                    a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
                  </p>
                </div>
                <div class="modal-footer">
                  <a data-dismiss="modal" type="button" class="btn btn-default btn-oi-pontos">OK</a>
                </div>
              </div>
            </div>
            </div>
          </section>

          <section class="modal-pontos modal-experiencia">
            <div id="confirmaResgateModal" role="dialog" class="modal fade" style="display: none;">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button data-dismiss="modal" type="button" class="close"><i class="material-icons close-icon" id="close">&#xE5CD;</i></button>
                    <p class="modal__title">Confirma o resgate?</p>
                  </div>
                  <div class="modal-body">
                  <p>
                    <strong>Você vai trocar 500 pontos por:</strong> 24/06 Sábado, 14:00 - Oi Casa Grande - Rio de Janeiro - RJ
                  </p>
                  <p class="modal-saldo">
                    Seu saldo será: <strong>208,50 pontos.</strong>
                  </p>
                </div>
                <div class="modal-footer">
                  <a href="experiencias-sucesso.html" type="button" class="btn btn-default confirma-resgate-modal">Confirmar</a>
                  <a data-dismiss="modal" type="button" class="">Cancelar</a>

                </div>
              </div>
            </div>
            </div>
          </section>


          <!-- <section class="pontos-info">
            <p>
                Tire suas dúvidas pelo <a href="#" class="pontos-links">Dúvidas frequentes.</a>
            </p>
            <p>
               Pra falar com o Oi Pontos ligue do seu Oi <strong>*3131</strong> ou de
               qualquer fixo <strong>0800 284-3131</strong> de Segunda à Domingo de 07:40 às 20:20
               (horário de Brasília).
            </p>
            <p>
               Consulte o <a href="#" class="pontos-links">regulamento do programa.</a>
            </p>
          </section> -->

						<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


	          <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->


				</div>

			</div>
      <p class="back-button">
        <a class="back" href="#"><i class="material-icons arrows">&#xE314;</i><span>Voltar</span>  </a>

      </p>

		</div>
	</div>
</div>
