
<div id="home-produto" class="main pull-left">
<style>
    /* <!-- inject:css --> */
</style>
  <section class="breadcrumb">
    <!--  INICIO BREADCRUMB -->
    <strong>Você está em: </strong><a href="oi-pontos.html">Seu Oi Pontos</a> > Experiências Oi</span>
    <!--  FIM BREADCRUMB -->
 </section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
<div id="divContent" class="experiencias-success">
<!-- begin: style_minhaoi_container_plano -->
	<div id="box-internet">
		<h2 class="sub-header">
			<span class="mini-icon-home"></span>
	    <a href="/portal/site/MinhaOi/home_produto_int">Oi Pontos</a>
		</h2>
		<div class="panel panel-default row box-produto">
			<div class="panel-body">
          <section class="success-msg">
            <i class="material-icons success-icon">&#xE86C;</i>
            <span>Resgate concluído</span>
          </section>

          <section class="experiencias-success-info">
            <a class="oi-pontos-print">
            <i class="material-icons print-icon">&#xE8AD;</i>
              <span>
                Imprimir
              </span>
            </a>
            <div class="experiencia-img">
              <img src="ArquivosEstaticos/MinhaOi/images/parque.png" alt="">
            </div>
            <div class="experiencias-success-details">
              <ul>
                <li>
                  <p class="espacamento-li-experiencia">Solicitação:</p>
                  <p class="experiencias-resgate-solicitação size-span-experiencia">Resgate de Prêmio - Oi Pontos 24/06 Sábado, 14:00 - Oi Casa Grande - Rio de Janeiro - RJ</p>
                </li>
                <li>
                  <p class="espacamento-li-experiencia">Data:</p>
                  <p class="experiencias-resgate-data size-span-experiencia">17/09/2017 - 15:21hrs</p>
                </li>
                <li>
                  <p class="espacamento-li-experiencia">Tipo de Experiência:</p>
                  <p class="experiencias-resgate-tipo resgate-tipo size-span-experiencia"> 24/06 Sábado, 14:00 - Oi Casa Grande - Rio de Janeiro - RJ</p>
                </li>
                <li>
                  <p class="espacamento-li-experiencia">Pontos:</p>
                  <p class="experiencias-resgate-pontos size-span-experiencia" >500</p>
                </li>
                <li>
                  <p class="espacamento-li-experiencia">Saldo final:</p>
                  <p class="experiencias-resgate-saldo size-span-experiencia">208,50 pontos</p>
                </li>
                <li>
                  <p class="espacamento-li-experiencia">Nº de Protocolo:</p>
                  <p class="experiencias-resgate-protocolo size-span-experiencia">61-0734-00000055948</p>
                </li>
              </ul>
            </div>
          </section>

          <section class="border-dot-top experiencias-como">
            <h2 class="h2-oi-pontos">Como usar</h2>
            <p>Texto fornecido pelo parceiro.</p>
          </section>
          <section class="border-dot-top">
            <h2 class="h2-oi-pontos">Regras de uso</h2>
            <p>Texto fornecido pelo parceiro.</p>
          </section>
          <section>
              <a class="btn btn-default btn-large-oi-pontos" href="oi-pontos.html">Voltar para o início</a>
            </section>

          <!-- <section class="pontos-info">
            <p>
                Tire suas dúvidas pelo <a href="#" class="pontos-links">Dúvidas frequentes.</a>
            </p>
            <p>
               Pra falar com o Oi Pontos ligue do seu Oi <strong>*3131</strong> ou de
               qualquer fixo <strong>0800 284-3131</strong> de Segunda à Domingo de 07:40 às 20:20
               (horário de Brasília).
            </p>
            <p>
               Consulte o <a href="#" class="pontos-links">regulamento do programa.</a>
            </p>
          </section> -->

						<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


	          <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->


				</div>

			</div>


		</div>
	</div>
</div>
