
<div id="home-produto" class="main pull-left">
    <style>
        /* <!-- inject:css --> */
    </style>
      <section class="breadcrumb">
        <!--  INICIO BREADCRUMB -->
        <strong>Você está em: </strong><a href="oi-pontos.html">Seu Oi Pontos</a> > Meu extrato</span>
        <!--  FIM BREADCRUMB -->
     </section>
        <!-- style_minhaoi_nav_produto :: INICIO -->
    <div id="divContent" class="extrato">
    <!-- begin: style_minhaoi_container_plano -->
        <div id="box-internet">
            <h2 class="sub-header">
                <span class="mini-icon-home"></span>
            <a href="/portal/site/MinhaOi/home_produto_int">Oi Pontos</a>
            </h2>
            <div class="panel panel-default row box-produto">
                <div class="panel-body">
              <div class="row box-header oi-header">

                  <div class="pontos-header">
                    <div>
                      <dl>
                        <dt>Saldo de pontos</dt>
                        <dd>708,50</dd>
                      </dl>
                    </div>
                    <div>
                      <dl>
                        <dt>Pontos a expirar nos próximos 30 dias</dt>
                        <dd class="menor">50,50</dd>
                      </dl>
                    </div>
                    <ul class="menu-header right">
                        <li><a href="extrato.html" class="active"><i class="material-icons">&#xE8B0;</i><span class="active">Meu extrato</span></a></li>
                        <li><a href="meus-cupons.html"><i class="material-icons">&#xE638;</i><span>Meus cupons</span></a></li>
                        <li><a href="meus-dados-logado.html" class=""><i class="material-icons">&#xE7FD;</i><span class="">Meus dados</span></a></li>
                      </ul>

                  </div>
                  <!-- FIM PONTOS-HEADER -->

              </div>
              <section class="title">
                <h2 class="h2-oi-pontos spacer">
                  Meu extrato
                </h2>
              <div class="extrato-resgate-user">
                  <select class="beneficios-user" name="select-beneficios-user">
                  <option value="Marco">Março de 2017</option>
                  <option value="Abril">Abril de 2017</option>
                  </select>
                </div>
              <section class="meus-cupons-table">
                <table class="table">
                  <thead>
                    <tr>
                      <td>Data</td>
                      <td>Descrição</td>
                      <td>Pontos</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>-</td>
                        <td>Fatura Nº 0000761519984 - vencida em 07/03/2017, paga em 02/03/2017 - Valor R$ 8,34</td>
                        <td>8,50</td>
                    </tr>
                    <tr>
                        <td>07/03</td>
                        <td>Pontuação Conta Online + DACC - Conta: 2877109528</td>
                        <td>300</td>
                    </tr>

                    <tr class="pontos-init">
                        <td colspan="2">Pontos acumulados no período</td>
                        <td>0,00</td>
                    </tr>
                    <tr>
                        <td colspan="2">Resgate de prêmios</td>
                        <td>0,00</td>
                    </tr>
                    <tr>
                        <td colspan="2">Pontos expirados</td>
                        <td>57,50</td>
                    </tr>
                    <tr class="pontos-end">
                        <td colspan="2">Pontos a expirar nos próximos 30 dias</td>
                        <td>240,00</td>
                    </tr>

                    <tr class="saldo-init">
                        <td colspan="2"><strong>Saldo total de pontos no período</strong></td>
                        <td><strong>308,50</strong></td>
                    </tr>
                    <tr class="saldo-end">
                        <td colspan="2"><strong>Saldo total de pontos acumulado</strong></td>
                        <td><strong>708,50</strong></td>
                    </tr>

                    <tr class="bonus-init">
                        <td colspan="2">Crédito de Superbônus</td>
                        <td>0,00</td>
                    </tr>
                    <tr>
                        <td colspan="2">Pontos utilizados do Superbônus</td>
                        <td>0,00</td>
                    </tr>
                    <tr>
                        <td colspan="2">Crédito de bônus</td>
                        <td>0,00</td>
                    </tr>
                    <tr class="bonus-end">
                        <td colspan="2">Pontos utilizados de bônus</td>
                        <td>0,00</td>
                    </tr>
                  </tbody>
                </table>

              </section>

              <section>
                <h2 class="h2-oi-pontos entenda-extrato">Entenda seu Extrato</h2>
                <p>Para acumular pontos, você precisa ter um Celular da Oi em um plano Oi Conta, Oi Conta Conectado, Oi Mais, Oi Conta Total, Oi Total Conectado ou Oi Total Solução Completa.</p>

                <p>Cada R$ 1,00 gasto na sua fatura corresponde a 1 ponto, e todos os produtos da Oi, atrelados ao mesmo CPF e à fatura do pós-pago, dão direito a pontos: Banda Larga, Celular, Fixo, DDD, Internet para celular, 3G/4G e Oi TV HD.</p>

                <p>Se você escolher pagamento por Débito Automático, então acumula 200 pontos na adesão + 200 por mês. <br />Com a Conta Online, são 200 pontos na adesão + 100 por mês. E melhor ainda: a adesão à conta online com débito automático garante 400 pontos +300 pontos por mês.</p>

                Vale lembrar que você só tem direito aos pontos na primeira adesão.
                Caso tenha aderido anteriormente e cancelado, você só vai receber os pontos mensais, caso faça uma nova adesão.</p>

                <p>É importante saber que os pontos mensais só são válidos enquanto o serviço estiver ativo.
                <br />Precisa de ajuda? Vá em <a class="pontos-links" href="#">Dúvidas Frequentes</a>  ou ligue 0800 284 3131.</p>
                </section>


                            <!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


                  <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->


                    </div>

                </div>
          <p class="back-button">
            <a class="back" href="#"><i class="material-icons arrows">&#xE314;</i><span>Voltar</span>  </a>

          </p>

            </div>
        </div>
    </div>
