
<div id="home-produto" class="main pull-left">
    <style>
        /* <!-- inject:css --> */
        
    </style>
    <!-- inject:js -->
 

<!-- d3.js -->
<!-- script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script -->

<!-- charts (pie and bar) -->
<script>
    /* <!-- inject:js:chart --> */

</script>

      <section class="breadcrumb">
          <!--  INICIO BREADCRUMB -->
          <div class="vgn-ext-region" vgnextregionname="breadcrumb_minhaoi" vgnextregionscope="template" vgnextregiontypes="VgnExtChannelNavComponent" vgnextregionid="da17e6e84274f210VgnVCM10000031d0200aRCRD" vgnextjspoverrideuri="/vgn-ext-templating/renderers/MinhaOi/render_minhaoi_breadcrumb.jsp">
             <div  class="vgn-ext-component" vgnextcomponentid="3117e6e84274f210VgnVCM10000031d0200aRCRD" vgnextxmlname="VgnExtChannelNavComponent">
                <strong>Voc&ecirc; est&aacute; em: </strong>
                Início
                &gt;
                Combo
             </div>
          </div>
          <!--  FIM BREADCRUMB -->
       </section>
       <!-- style_minhaoi_nav_produto :: INICIO -->
       <div id="divContent">
          <!-- begin: style_minhaoi_container_plano -->
          <script type="text/javascript">	
             document.OiDatalayer = 
               
             $( document ).ajaxComplete(function( event, xhr, settings ) {
               try {
                 document.OiDatalayer = JSON.parse('{"pageInfo":{"url":"/portal/site/MinhaOi/home_produto_oct","pageName":"Home_oct_MOI"},"userInfo":{"userID":"uQflDkjNDh9Hj%2FcV92I1gg%3D%3D%0A","userName":"V%2BWmrQvfY9TXU86ibgGYKKFskK1SEG%2BfE3ReDGKK18k%3D%0A","email":"","birthDate":"iibTkaOFcTx909jYpMl1Wg%3D%3D%0A","gender":"FEMININO","age":"65","estado":"PI","nomeCliente":"3XDQsv4g1qaII7eVeER8Lg48idowCi8VTR%2Fnu%2BbDxmP9icunrJlx%2FzC%2BXEr1UOuS%0A"},"terminalInfo":{"terminais":[{"product":"TIT","plan":"Oi Total","ddd":"4t6e0INSxQ4%3D%0A","number":"XQe44czSbQowvlxK9VDrkg%3D%3D%0A"},{"product":"TIT","plan":"Oi Total","ddd":"4t6e0INSxQ4%3D%0A","number":"bTxVIVS2YcZEbFncWwHNfA%3D%3D%0A"}]}}');
                 document.OiDatalayer.pageInfo.url = window.location.href;
               } catch(e){
                 console.log(e);
               }							
             });
             $(document).ready(function(){
               try {
                 document.OiDatalayer = JSON.parse('{"pageInfo":{"url":"/portal/site/MinhaOi/home_produto_oct","pageName":"Home_oct_MOI"},"userInfo":{"userID":"uQflDkjNDh9Hj%2FcV92I1gg%3D%3D%0A","userName":"V%2BWmrQvfY9TXU86ibgGYKKFskK1SEG%2BfE3ReDGKK18k%3D%0A","email":"","birthDate":"iibTkaOFcTx909jYpMl1Wg%3D%3D%0A","gender":"FEMININO","age":"65","estado":"PI","nomeCliente":"3XDQsv4g1qaII7eVeER8Lg48idowCi8VTR%2Fnu%2BbDxmP9icunrJlx%2FzC%2BXEr1UOuS%0A"},"terminalInfo":{"terminais":[{"product":"TIT","plan":"Oi Total","ddd":"4t6e0INSxQ4%3D%0A","number":"XQe44czSbQowvlxK9VDrkg%3D%3D%0A"},{"product":"TIT","plan":"Oi Total","ddd":"4t6e0INSxQ4%3D%0A","number":"bTxVIVS2YcZEbFncWwHNfA%3D%3D%0A"}]}}');
                 document.OiDatalayer.pageInfo.url = window.location.href;
               } catch(e){
                 console.log(e);
               }
             });
             
          </script>
          <div id="box-combo">
             <h2 class="sub-header">
                <span class="mini-icon-home"></span> <a href="/portal/site/MinhaOi/home_produto_combo">Oi Total</a>
             </h2>
             <div class="panel panel-default row box-produto">
                <div class="panel-body">
                   <div class="row box-header">
                      <div class="container">
                          <div class="col-xs-8 pull-left">
                              <!-- style_minhaoi_telefones_inclusos :: INICIO -->
                              <!-- begin: style_minhaoi_telefones_inclusos -->
                              <div class="col-xs-8 pull-left">
                                 <p>Telefones no plano:</p>
                                 <p class="telefones-plano">
                                    (86) 3213-4902
                                    | 
                                    (86) 98832-3136
                                    <a id="tooltip-telefones-pacotes" href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="
                                       <p>Telefones no plano</p>
                                       <ul>
                                       <li>(86) 3213-4902 </li>
                                       <li>(86) 98832-3136 </li>
                                       </ul>
                                       <span></span>
                                       <p>Telefones agrupados</p>
                                       <ul>
                                       <li>(86) 3213-4902</li>
                                       </ul>
                                       "><span class="glyphicon glyphicon-triangle-bottom"></span>
                                    </a>
                                 </p>
                                 <input id="idProdutoHome" type="hidden" value="prod43701a41-88cd-4e00-8eb1-ac0b35f1ee6b"/>
                              </div>
                              <!-- end: style_minhaoi_telefones_inclusos -->
                              <!-- style_minhaoi_telefones_inclusos :: FIM -->
                           </div>
								</div>

							</div>


              <!-- BEGIN: style_minhaoi_menu_segundo_nivel_oct -->
              <div class="vgn-ext-region" vgnextregionname="minhaoi_menu_segundo_nivel_atual" vgnextregionscope="template" vgnextregiontypes="VgnExtChannelNavComponent,VgnExtChannelNavComponentExt" vgnextregionid="ad286b19d774f210VgnVCM10000031d0200aRCRD" vgnextjspoverrideuri="/vgn-ext-templating/renderers/MinhaOi/render_minhaoi_menu_segundo_nivel.jsp">
                <div  class="vgn-ext-component" vgnextcomponentid="223760909844c410VgnVCM1000009ad0200aRCRD" vgnextxmlname="VgnExtChannelNavComponentExt">
                   <section class="account-menu">
                      <ul class="clearfix">
                         <li class="">
                            <a
                               href="#"> Conta</a>
                            <ul style="display: none;">
                               <li class=""><a href="/portal/site/MinhaOi/menuitem.c5610aaf2e1254de25b425b4246d02a0/?vgnextoid=2326433b0d27e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Últimas Contas">&gt; Últimas Contas</a></li>
                               <li class=""><a href="/portal/site/MinhaOi/menuitem.d1c50c701c9124de25b425b4246d02a0/?vgnextoid=20ab0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Conta Detalhada">&gt; Conta Detalhada</a></li>
                               <li class=""><a href="/portal/site/MinhaOi/menuitem.27e4dc8b6107e4de25b425b4246d02a0/?vgnextoid=18eb0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Perfil de Consumo">&gt; Perfil de Consumo</a></li>
                               <li class=""><a href="/portal/site/MinhaOi/menuitem.f64d612e7150b4de25b425b4246d02a0/?vgnextoid=165d0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Código de Barras para Pagamento">&gt; Código de Barras para Pagamento</a></li>
                               <li class=""><a href="/portal/site/MinhaOi/debito-automatico" title="Cadastro de Débito Automático">&gt; Cadastro de Débito Automático</a></li>
                               <li class=""><a href="/portal/site/MinhaOi/AdesaoCSP" title="Cadastro de Conta Online">&gt; Cadastro de Conta Online</a></li>
                               <li class=""><a href="/portal/site/MinhaOi/menuitem.e6743df13277316715621562246d02a0/?vgnextoid=ccfc0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Alteração de Data de Vencimento">&gt; Alteração de Data de Vencimento</a></li>
                               <li class=""><a href="/portal/site/MinhaOi/menuitem.9487d7bbc7ecd182be42be42eccc02a0/?vgnextoid=0f2c0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Alteração de Endereço de Cobrança">&gt; Alteração de Endereço de Cobrança</a></li>
                               <li class=""><a href="http://www.oi.com.br/oi/oi-pra-voce/oi-conta-total/ja-sou-cliente/entenda-sua-conta" target="_blank" title="Entenda Sua Conta">&gt; Entenda Sua Conta</a></li>
                               <li class=""><a href="/portal/site/MinhaOi/menuitem.efd03bfcf7852a2a5e015e01eccc02a0/?vgnextoid=e08676b27dd21410VgnVCM10000031d0200aRCRD&vgnextfmt=default" title="Alteração de Data de Vencimento">&gt; Alteração de Data de Vencimento</a></li>
                            </ul>
                         </li>
                         <li class="">
                            <a
                               href="#"> Serviços</a>
                            <ul style="display: none;">
                               <li>
                                  <a class="terceiroNivel" href="#"> Serviços Oi Móvel <span class="sm-lateral"></span></a>
                                  <ul style="display: none;">
                                     <li class=""><a href="/portal/site/MinhaOi/menuitem.23b3e6ad8e92c372be42be42eccc02a0/?vgnextoid=c8fe0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Ativação e Desativação de Serviços">&gt; Ativação e Desativação de Serviços</a></li>
                                     <li class=""><a href="/portal/site/MinhaOi/menuitem.2ea53d8b64c9d372be42be42eccc02a0/?vgnextoid=c50f0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Bloqueio por Perda e Roubo">&gt; Bloqueio por Perda e Roubo</a></li>
                                     <li class=""><a href="/portal/site/MinhaOi/menuitem.6da16f8971dde672be42be42eccc02a0/?vgnextoid=f21f0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Criar Senha de Caixa Postal">&gt; Criar Senha de Caixa Postal</a></li>
                                     <li class=""><a href="/portal/site/MinhaOi/menuitem.5525a1989c734772be42be42eccc02a0/?vgnextoid=c43f0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Resgate Senha Caixa Postal">&gt; Resgate Senha Caixa Postal</a></li>
                                     <li class=""><a href="/portal/site/MinhaOi/menuitem.45151b16eed9b52a5e015e01eccc02a0/?vgnextoid=9984b629d91ad310VgnVCM10000031d0200aRCRD&vgnextfmt=default" title="Alteração de Endereço de Cobrança">&gt; Alteração de Endereço de Cobrança</a></li>
                                     <li class=""><a href="/portal/site/MinhaOi/menuitem.efd03bfcf7852a2a5e015e01eccc02a0/?vgnextoid=f4d3ac12392ad310VgnVCM10000031d0200aRCRD&vgnextfmt=default" title="Alteração de Data de Vencimento">&gt; Alteração de Data de Vencimento</a></li>
                                     <li class=""><a href="/portal/site/MinhaOi/menuitem.c1a9a04b9c3510c974517451eccc02a0/?vgnextoid=b420f515f5551410VgnVCM10000031d0200aRCRD&vgnextfmt=default" title="Consultar Linhas Móveis">&gt; Consultar Linhas Móveis</a></li>
                                     <li class=""><a class="ajaxLink" href="/portal/site/MinhaOi/menuitem.0017f08cf59de912fe82fe82246d02a0/?vgnextoid=ec552c2daba64410VgnVCM10000031d0200aRCRD&vgnextfmt=ajax#divDetails" title="Cancelamento via formulário">&gt; Cancelamento via formulário</a></li>
                                     <li class=""><a href="/portal/site/MinhaOi/menuitem.f12f062e09bda74e89d389d3246d02a0/?vgnextoid=2969b739fffdb410VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Cancelamento de Produtos">&gt; Cancelamento de Produtos</a></li>
                                  </ul>
                               </li>
                               <li>
                                  <a class="terceiroNivel" href="#"> Serviços Oi Fixo <span class="sm-lateral"></span></a>
                                  <ul style="display: none;">
                                     <li class=""><a class="ajaxLink" href="/portal/site/MinhaOi/menuitem.0017f08cf59de912fe82fe82246d02a0/?vgnextoid=11c9bd2a0ec2f210VgnVCM10000031d0200aRCRD&vgnextfmt=ajax#divDetails" title="Desbloqueio por Pagamento de Conta">&gt; Desbloqueio por Pagamento de Conta</a></li>
                                     <li class=""><a class="ajaxLink" href="/portal/site/MinhaOi/menuitem.0017f08cf59de912fe82fe82246d02a0/?vgnextoid=26200b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=ajax#divDetails" title="Correção de CPF">&gt; Correção de CPF</a></li>
                                     <li class=""><a class="ajaxLink" href="/portal/site/MinhaOi/menuitem.0017f08cf59de912fe82fe82246d02a0/?vgnextoid=20cf0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=ajax#divDetails" title="Solicitação de Conserto">&gt; Solicitação de Conserto</a></li>
                                     <li class=""><a class="ajaxLink" href="/portal/site/MinhaOi/menuitem.0017f08cf59de912fe82fe82246d02a0/?vgnextoid=b2ef0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=ajax#divDetails" title="Mudança de Número Oi Fixo">&gt; Mudança de Número Oi Fixo</a></li>
                                     <li class=""><a class="ajaxLink" href="/portal/site/MinhaOi/menuitem.0017f08cf59de912fe82fe82246d02a0/?vgnextoid=08aa79998e341310VgnVCM10000031d0200aRCRD&vgnextfmt=ajax#divDetails" title="Correção de Nome">&gt; Correção de Nome</a></li>
                                     <li class=""><a class="ajaxLink" href="/portal/site/MinhaOi/menuitem.0017f08cf59de912fe82fe82246d02a0/?vgnextoid=9b3a15c0b6e76310VgnVCM10000031d0200aRCRD&vgnextfmt=ajax#divDetails" title="Transferência de Titularidade">&gt; Transferência de Titularidade</a></li>
                                     <li class=""><a href="/portal/site/MinhaOi/menuitem.47cd2736ba635675c035c035246d02a0/?vgnextoid=af09f48b27564410VgnVCM10000031d0200aRCRD&vgnextfmt=default" title="Alteração de Endereço de Instalação">&gt; Alteração de Endereço de Instalação</a></li>
                                  </ul>
                               </li>
                               <li>
                                  <a class="terceiroNivel" href="#"> Serviços Oi Internet <span class="sm-lateral"></span></a>
                                  <ul style="display: none;">
                                     <li class=""><a href="/portal/site/MinhaOi/menuitem.35e0675a575539c212011201eccc02a0/?vgnextoid=831d89b8e937e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Saldo Oi Internet Móvel">&gt; Saldo Oi Internet Móvel</a></li>
                                     <li class=""><a class="ajaxLink" href="/portal/site/MinhaOi/parceiros?minhaoi.parceiros.url=URLP3e936258-a79d-4v91-aa8a-767925fa2604#divDetails" title="Aumentar Velocidade">&gt; Aumentar Velocidade</a></li>
                                     <li class=""><a href="/portal/site/MinhaOi/menuitem.f12f062e09bda74e89d389d3246d02a0/?vgnextoid=fc9db739fffdb410VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Cancelamento de Produtos">&gt; Cancelamento de Produtos</a></li>
                                  </ul>
                               </li>
                               <li>
                                  <a class="terceiroNivel" href="#"> Serviços Oi TV <span class="sm-lateral"></span></a>
                                  <ul style="display: none;">
                                     <li class=""><a href="/portal/site/MinhaOi/menuitem.0b76d6c611817b7c23242324246d02a0/?vgnextoid=9c02e248e38c8410VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Melhoria de Sinal">&gt; Melhoria de Sinal</a></li>
                                  </ul>
                               </li>
                               <li class="separator">________________________________________________</li>
                               <li class=""><a href="javascript:void(window.open('/vgn-ext-templating/v/index.jsp?vgnextoid=cc86f8065bc8d410VgnVCM1000009ad0200aRCRD&vgnextfmt=default', 'windowparceiro','status=1,toolbar=1'))" title="Item Comum">&gt; Item Comum</a></li>
                               <li class=""><a href="/portal/site/MinhaOi/menuitem.ec10c32f89b20bafc313c313eccc02a0/?vgnextoid=e85a27e947c98410VgnVCM10000031d0200aRCRD" title="Recarga Online">&gt; Recarga Online</a></li>
                               <li class=""><a href="/portal/site/MinhaOi/menuitem.4a59ae850e4d2472be42be42eccc02a0/?vgnextoid=675f0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Consulta de Protocolo">&gt; Consulta de Protocolo</a></li>
                               <li class=""><a class="ajaxLink" href="/portal/site/MinhaOi/menuitem.0017f08cf59de912fe82fe82246d02a0/?vgnextoid=30ec3fe0eaa64410VgnVCM10000031d0200aRCRD&vgnextfmt=ajax#divDetails" title="Cancelamento via Formulário">&gt; Cancelamento via Formulário</a></li>
                               <li class=""><a class="ajaxLink" href="/portal/site/MinhaOi/menuitem.0017f08cf59de912fe82fe82246d02a0/?vgnextoid=4b6cf79df83ff410VgnVCM10000031d0200aRCRD&vgnextfmt=ajax#divDetails" title="Consultar Documentos">&gt; Consultar Documentos</a></li>
                               <li class=""><a href="http://www.oi.com.br/oi/sobre-a-oi/regulamentacao/informacoes/planos-de-servicos-vigor/oi-total" target="_blank" title="Consultar Sumários e Regulamentos">&gt; Consultar Sumários e Regulamentos</a></li>
                               <li class=""><a href="/portal/site/MinhaOi/menuitem.f12f062e09bda74e89d389d3246d02a0/?vgnextoid=342761365dadb410VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Cancelamento de Produtos">&gt; Cancelamento de Produtos</a></li>
                               <li class=""><a href="/portal/site/MinhaOi/menuitem.3a5fb74f75ca9eb9d285d285336d02a0/?vgnextoid=fc5b8bfeaa354510VgnVCM10000031d0200aRCRD&vgnextfmt=default" title="Gravações de Ligações">&gt; Gravações de Ligações</a></li>
                               <li class=""><a href="/portal/site/MinhaOi/menuitem.59121883cad7fdd5ab86ab86026d02a0/?vgnextoid=c627a9491ad9c510VgnVCM10000031d0200aRCRD&vgnextfmt=default" title="Religar Serviço">&gt; Religar Serviço</a></li>
                            </ul>
                         </li>
                         
                      </ul>
                   </section>
                </div>
             </div>
             <!-- END: style_minhaoi_menu_segundo_nivel_oct -->

              <!-- conteúdo -->
              <section>
                  <div class="col-xs-12 without-padding">
                    <!-- conta -->
                    <div class="col-xs-8 without-padding">
                       <div class="resumo-conta">
                          <h4>Resumo da Última Conta</h4>
                          <div class="panel panel-default">
                             <div class="panel-body dados-conta">
                                <div class="table-responsive valor-a-pagar">
                                   <table class="table">
                                      <colgroup>
                                         <col class="col-xs-4">
                                         <col class="col-xs-2">
                                         <col class="col-xs-3">
                                         <col class="col-xs-3">
                                      </colgroup>
                                      <tbody>
                                         <tr class="first-child last-child">
                                            <td width="20%" class="first-child">
                                               <p>Data de Vencimento</p>
                                               <p>Status de Pagamento</p>
                                            </td>
                                            <td width="20%" style="font-size: 11px;" class="divider-right">
                                               <p>26/06/2017</p>
                                               <span style="text-align:right; margin-top:-3px; float:right;">
                                                  <font color="#D0021B">
                                                  <strong>Em Aberto</strong>
                                                  </font>
                                                  <span style="margin-top:-2px;" class="tooltipIco">&nbsp;</span>
                                                  <div style="opacity: 0; display: none; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Arial; top: 67px; left: 242px;" class="tooltip" id="testDiv">Caso você já tenha efetuado o seu pagamento, o mesmo pode demorar até 3 dias úteis para ser identificado</div>
                                               </span>
                                            </td>
                                            <td width="30.5%" class="divider-left">
                                               <span>Valor a Pagar</span>
                                            </td>
                                            <td width="19.5%" class="last-child">
                                               <p class="preco">
                                                  <sub>R$</sub>276,<sup>54</sup>
                                               </p>
                                            </td>
                                         </tr>
                                      </tbody>
                                   </table>
                                </div>
                                <!-- END Resumo da conta -->
                                <!-- end -->
                                <div class="table-responsive servicos-pagamento">
                                   <table class="table">
                                      <colgroup>
                                         <col class="col-xs-4">
                                         <col class="col-xs-2">
                                         <col class="col-xs-3">
                                         <col class="col-xs-3">
                                      </colgroup>
                                      <tbody>
                                         <tr class="first-child last-child">
                                            <td class="first-child">Conta Online:</td>
                                            <td class="divider-right"><a href="/portal/site/MinhaOi/AdesaoCSP" class="green-label">Cadastrar</a></td>
                                            <td class="divider-left">Débito Automático:</td>
                                            <td class="last-child"><a href="/portal/site/MinhaOi/debito-automatico" class="red-label">Cadastrar</a></td>
                                         </tr>
                                      </tbody>
                                   </table>
                                </div>
                             </div>
                          </div>
                       </div>

                       <!-- info user data -->
                       <!-- <script src="/ArquivosEstaticos/MinhaOi/js/minhaoi.js"></script> -->
                       <script src="/ArquivosEstaticos/MinhaOi/scripts/tooltips.js"></script>
                       <!-- <script src="/ArquivosEstaticos/MinhaOi/scripts/functions.js"></script> -->
                       <!-- <script src="/ArquivosEstaticos/MinhaOi/scripts/tabsinteraction.js"></script> -->
                       <!-- <script src="/ArquivosEstaticos/MinhaOi/scripts/menu.js"></script> -->
                       <!-- <script src="/ArquivosEstaticos/MinhaOi/js/selectboxInit.js"></script> -->
                       <script>
                          $(document).ready(function() {
                                
                            var pequisarConsumo3GAction =  '/portal/site/MinhaOi/template.SINGLEPORTLET/action.process/home_produto_combo/?javax.portlet.action=true&currentTemplateID=PAGE&javax.portlet.tpst=7868ddb2adbb0e7ef6e0f6e0eccc02a0_ws_RW&javax.portlet.prp_7868ddb2adbb0e7ef6e0f6e0eccc02a0=action%3DpequisarConsumo3G&javax.portlet.begCacheTok=com.vignette.cachetoken&javax.portlet.endCacheTok=com.vignette.cachetoken';
                            
                            $("#terminalSelecionado").change(function () {
                              reloadSelectboxPosition();
                              var terminalSelecionado = $(this).val();
                              $.post(pequisarConsumo3GAction, { terminal: terminalSelecionado }, function(data) {			
                                $('#resultAjax').html(data);
                                $('#terminalSelecionado option[selected*="selected"]').removeAttr('selected');
                                $('#terminalSelecionado option[value*="'+terminalSelecionado+'"]').attr('selected', 'selected');
                                //corrigindo o problema do selectbox
                          // 			$('#terminalSelecionado').selectbox();
                                $.getScript("/ArquivosEstaticos/MinhaOi/js/minhaoi.js");
                                $.getScript("/ArquivosEstaticos/MinhaOi/scripts/tooltips.js");
                                //$.getScript("/ArquivosEstaticos/MinhaOi/scripts/functions.js");
                          // 			$.getScript("/ArquivosEstaticos/MinhaOi/scripts/tabsinteraction.js");
                          // 			$.getScript("/ArquivosEstaticos/MinhaOi/scripts/menu.js");
                          // 			$.getScript("/ArquivosEstaticos/MinhaOi/js/selectboxInit.js");
                                graficoSaldoDadosReal();
                                reloadSelectboxPosition();
                                atribuiTooltipEnd();
                              });
                            });
                          });
                       </script>
                       <div id="resultAjax">
                          <section id="saldoDados" class="account-saldoAtual">
                             <br />
                             <div id="saldo" class="saldo-dados">
                                <h4 class='ddreal'>Saldo de dados em tempo real</h4>
                                <div class="panel panel-default extra">
                                   <div class="panel-body panel-oi real pacoteComplementar">
                                      <div class="header degrade">
                                         <div class="form-group form-inline pull-left">
                                         </div>
                                         <div class="control-collapse pull-right">
                                            <a id="collapse-saldo-dados" href="javascript:void(0);">+
                                            Detalhes</a> <span class="detalhes"></span>
                                         </div>
                                      </div>
                                      <div class="real">
                                         <div class="item-plano pacote">
                                            <div class="barraRealConsumo ">
                                               <div class="consumo3g">
                                                  <p style="display: block;">
                                                     Plano mensal de Internet
                                                  </p>
                                                  <!-- 55460 - c.s. 13/05/2014 -->
                                                  <ul>
                                                     <li class="first text-right"><b>4&nbsp;GB</b>
                                                     </li>
                                                     <li class="percentSaldo">
                                                        <div class="leftConsumido"></div>
                                                        <div class="percetConsumido">
                                                           <div class="traco">
                                                              <b>0</b><strong>%</strong>
                                                           </div>
                                                        </div>
                                                        <div class="saldoFranquiaTotal">
                                                           <strong>Franquia 100% consumida</strong>
                                                        </div>
                                                     </li>
                                                     <li class="valConsumido">
                                                        <span>
                                                           <div>
                                                              <b>0</b>&nbsp;byte
                                                           </div>
                                                        </span>
                                                     </li>
                                                  </ul>
                                               </div>
                                            </div>
                                            <div class="boxRealConnsumo" style="display: none;">
                                               <!-- 55460 - BEGIN - c.s. 13/05/2014 -->
                                               <ul
                                                  >
                                                  <li class="tipoNavegacaoOn first">Tipo de
                                                     navega&ccedil;&atilde;o: <strong>Utilizando plano mensal de internet
                                                     </strong>
                                                  </li>
                                                  <li class="tpFranquiaMensal">Franquia do plano mensal de
                                                     Internet: <strong>4&nbsp;GB</strong>
                                                  </li>
                                                  <li class="consIntPctMensal">Consumo do plano mensal de
                                                     Internet at&eacute; o momento: <strong>0byte</strong>
                                                  </li>
                                               </ul>
                                            </div>
                                            <!-- 55460 - END - c.s. 13/05/2014 -->
                                         </div>
                                         <!-- 55460 START -->
                                      </div>
                                      <!-- 55460 END -->
                                      <div class="extraInfo" style="display: block;">
                                         <div class="pacoteComplementarOff">
                                            <div class="tool1Alerta pull-left">
                                               <strong>Alerta por SMS:</strong> Ativo 
                                               <span class="tooltipIco"></span>
                                               <div class="popupAlertaSms">
                                                  <p>
                                                     Mensagens via SMS informando o percentual consumido (50%, 80% e 100%) de sua franquia de dados, o reinício da mesma e alguma alteração feita no valor dessa franquia e/ou de seu vencimento. Para não recebê-las mais, ligue para Central de Atendimento Oi através do *144 e peça o cancelamento do serviço de envio.
                                                  </p>
                                               </div>
                                               <div class="tooltipX">
                                                  <div class="tip-top">
                                                     <div class="tip-title1"></div>
                                                  </div>
                                                  <div class="tip">
                                                     <div class="tip-title"></div>
                                                  </div>
                                                  <div class="tip-bottom"></div>
                                               </div>
                                            </div>
                                            <div class="tool1Alerta two pull-left">
                                               <strong>Alerta por email:</strong> Ativo 
                                               <span class="tooltipIco"></span>
                                               <div class="popupAlertaEmail">
                                                  <p>
                                                     Mensagens via e-mail informando o percentual consumido (50%, 80% e 100%) de sua franquia de dados, o reinício da mesma e alguma alteração feita no valor dessa franquia e/ou de seu vencimento. Para não recebê-las mais, ligue para Central de Atendimento Oi através do *144 e peça o cancelamento do serviço de envio.
                                                  </p>
                                               </div>
                                               <div class="tooltipX2">
                                                  <div class="tip-top">
                                                     <div class="tip-title1"></div>
                                                  </div>
                                                  <div class="tip">
                                                     <div class="tip-title"></div>
                                                  </div>
                                                  <div class="tip-bottom"></div>
                                               </div>
                                            </div>
                                         </div>
                                         <div class="bloqueio-dados-inativo">
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </section>
                       </div><!-- <script src="/ArquivosEstaticos/MinhaOi/js/minhaoi.js"></script> -->
                       <script src="/ArquivosEstaticos/MinhaOi/scripts/tooltips.js"></script>
                       <!-- <script src="/ArquivosEstaticos/MinhaOi/scripts/functions.js"></script> -->
                       <!-- <script src="/ArquivosEstaticos/MinhaOi/scripts/tabsinteraction.js"></script> -->
                       <!-- <script src="/ArquivosEstaticos/MinhaOi/scripts/menu.js"></script> -->
                       <!-- <script src="/ArquivosEstaticos/MinhaOi/js/selectboxInit.js"></script> -->
                       <script>
                          $(document).ready(function() {
                                
                            var pequisarConsumo3GAction =  '/portal/site/MinhaOi/template.SINGLEPORTLET/action.process/home_produto_combo/?javax.portlet.action=true&currentTemplateID=PAGE&javax.portlet.tpst=7868ddb2adbb0e7ef6e0f6e0eccc02a0_ws_RW&javax.portlet.prp_7868ddb2adbb0e7ef6e0f6e0eccc02a0=action%3DpequisarConsumo3G&javax.portlet.begCacheTok=com.vignette.cachetoken&javax.portlet.endCacheTok=com.vignette.cachetoken';
                            
                            $("#terminalSelecionado").change(function () {
                              reloadSelectboxPosition();
                              var terminalSelecionado = $(this).val();
                              $.post(pequisarConsumo3GAction, { terminal: terminalSelecionado }, function(data) {			
                                $('#resultAjax').html(data);
                                $('#terminalSelecionado option[selected*="selected"]').removeAttr('selected');
                                $('#terminalSelecionado option[value*="'+terminalSelecionado+'"]').attr('selected', 'selected');
                                //corrigindo o problema do selectbox
                          // 			$('#terminalSelecionado').selectbox();
                                $.getScript("/ArquivosEstaticos/MinhaOi/js/minhaoi.js");
                                $.getScript("/ArquivosEstaticos/MinhaOi/scripts/tooltips.js");
                                //$.getScript("/ArquivosEstaticos/MinhaOi/scripts/functions.js");
                          // 			$.getScript("/ArquivosEstaticos/MinhaOi/scripts/tabsinteraction.js");
                          // 			$.getScript("/ArquivosEstaticos/MinhaOi/scripts/menu.js");
                          // 			$.getScript("/ArquivosEstaticos/MinhaOi/js/selectboxInit.js");
                                graficoSaldoDadosReal();
                                reloadSelectboxPosition();
                                atribuiTooltipEnd();
                              });
                            });
                          });
                       </script>
                       <div id="resultAjax">
                          <section id="saldoDados" class="account-saldoAtual">
                             <br />
                             <div id="saldo" class="saldo-dados">
                                <h4 class='ddreal'>Saldo de dados em tempo real</h4>
                                <div class="panel panel-default extra">
                                   <div class="panel-body panel-oi real pacoteComplementar">
                                      <div class="header degrade">
                                         <div class="form-group form-inline pull-left">
                                         </div>
                                         <div class="control-collapse pull-right">
                                            <a id="collapse-saldo-dados" href="javascript:void(0);">+
                                            Detalhes</a> <span class="detalhes"></span>
                                         </div>
                                      </div>
                                      <div class="real">
                                         <div class="item-plano pacote">
                                            <div class="barraRealConsumo ">
                                               <div class="consumo3g">
                                                  <p style="display: block;">
                                                     Plano mensal de Internet
                                                  </p>
                                                  <!-- 55460 - c.s. 13/05/2014 -->
                                                  <ul>
                                                     <li class="first text-right"><b>4&nbsp;GB</b>
                                                     </li>
                                                     <li class="percentSaldo">
                                                        <div class="leftConsumido"></div>
                                                        <div class="percetConsumido">
                                                           <div class="traco">
                                                              <b>0</b><strong>%</strong>
                                                           </div>
                                                        </div>
                                                        <div class="saldoFranquiaTotal">
                                                           <strong>Franquia 100% consumida</strong>
                                                        </div>
                                                     </li>
                                                     <li class="valConsumido">
                                                        <span>
                                                           <div>
                                                              <b>0</b>&nbsp;byte
                                                           </div>
                                                        </span>
                                                     </li>
                                                  </ul>
                                               </div>
                                            </div>
                                            <div class="boxRealConnsumo" style="display: none;">
                                               <!-- 55460 - BEGIN - c.s. 13/05/2014 -->
                                               <ul
                                                  >
                                                  <li class="tipoNavegacaoOn first">Tipo de
                                                     navega&ccedil;&atilde;o: <strong>Utilizando plano mensal de internet
                                                     </strong>
                                                  </li>
                                                  <li class="tpFranquiaMensal">Franquia do plano mensal de
                                                     Internet: <strong>4&nbsp;GB</strong>
                                                  </li>
                                                  <li class="consIntPctMensal">Consumo do plano mensal de
                                                     Internet at&eacute; o momento: <strong>0byte</strong>
                                                  </li>
                                               </ul>
                                            </div>
                                            <!-- 55460 - END - c.s. 13/05/2014 -->
                                         </div>
                                         <!-- 55460 START -->
                                      </div>
                                      <!-- 55460 END -->
                                      <div class="extraInfo" style="display: block;">
                                         <div class="pacoteComplementarOff">
                                            <div class="tool1Alerta pull-left">
                                               <strong>Alerta por SMS:</strong> Ativo 
                                               <span class="tooltipIco"></span>
                                               <div class="popupAlertaSms">
                                                  <p>
                                                     Mensagens via SMS informando o percentual consumido (50%, 80% e 100%) de sua franquia de dados, o reinício da mesma e alguma alteração feita no valor dessa franquia e/ou de seu vencimento. Para não recebê-las mais, ligue para Central de Atendimento Oi através do *144 e peça o cancelamento do serviço de envio.
                                                  </p>
                                               </div>
                                               <div class="tooltipX">
                                                  <div class="tip-top">
                                                     <div class="tip-title1"></div>
                                                  </div>
                                                  <div class="tip">
                                                     <div class="tip-title"></div>
                                                  </div>
                                                  <div class="tip-bottom"></div>
                                               </div>
                                            </div>
                                            <div class="tool1Alerta two pull-left">
                                               <strong>Alerta por email:</strong> Ativo 
                                               <span class="tooltipIco"></span>
                                               <div class="popupAlertaEmail">
                                                  <p>
                                                     Mensagens via e-mail informando o percentual consumido (50%, 80% e 100%) de sua franquia de dados, o reinício da mesma e alguma alteração feita no valor dessa franquia e/ou de seu vencimento. Para não recebê-las mais, ligue para Central de Atendimento Oi através do *144 e peça o cancelamento do serviço de envio.
                                                  </p>
                                               </div>
                                               <div class="tooltipX2">
                                                  <div class="tip-top">
                                                     <div class="tip-title1"></div>
                                                  </div>
                                                  <div class="tip">
                                                     <div class="tip-title"></div>
                                                  </div>
                                                  <div class="tip-bottom"></div>
                                               </div>
                                            </div>
                                         </div>
                                         <div class="bloqueio-dados-inativo">
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </section>
                       </div>

                       
                    </div>
                    <!-- end conta -->
                    <div class="col-xs-4">
                        <div class="acesso-rapido row center-block">
                           <h4>Acesso Rápido</h4>
                           <!--  inicio conteudo e-billing -->
                           <!--PRJ 8184 - linkpdf novo p.k 10/24/15 INICIO-->
                           <a class="btn btn-default" target="_blank" href="/portal/site/MinhaOi/template.SINGLEPORTLET/home_produto_combo/?javax.portlet.tpst=75a1def4255b67f88a818a81eccc02a0_ws_BI&javax.portlet.prp_75a1def4255b67f88a818a81eccc02a0=action%3DcarregaArquivoBinario&javax.portlet.begCacheTok=com.vignette.cachetoken&javax.portlet.endCacheTok=com.vignette.cachetoken&controller=VisualizarPDFController&categoria_plano=OCT&tipoDocumento=FATURA&dataConta=201710&grupo=&idContaFatura=1|2747555569&fatura=823595917&codContrato=&ciclo=&codLocal=&terminal=&cj=&su=&ddd=&val=252.57&vencimentoFatura=26/10/2017" role="button" onclick=
                              "executarga('Piauí',
                              'PI',
                              'R1',
                              'bundle',
                              'Combo',
                              'pdf')">
                           <span class="via-conta"></span>2ª Via de Conta</a>
                           <!--</section>
                              </section>-->
                           <!-- Google Analytics  -->
                           <script type="text/javascript">
                              function executarga(cidade, estado, regiao, produto, plano, formato){
                                  //Transaction Tags
                                  try {
                                    if(plano == 'null'){
                                      
                                      var descricao = 'Informacoes de plano nao disponivel';
                                    
                                      var _gaq = _gaq || [];
                                      _gaq.push(function(){
                                        dpc_core.track_event(
                                            'e-Billing Erro',
                                            '2 via de conta_' + formato,
                                            descricao);
                                      });
                                      
                                    }else{
                                        //[PRJ8273] - PKE 14335
                                        var _gaq = window._gaq || [];
                                    window._gaq = window._gaq || [];
                                          _gaq.push(function(){
                                            dpc_callTrans(
                                                  cidade,
                                                  estado,
                                                  'Brasil', 
                                                  regiao,
                                                  formato + '_' + regiao, 
                                                  produto, 
                                                  '2 via da conta', 
                                                  '4.0')
                                          });
                                    }
                                
                                  } catch (e) {
                                  }
                              }             
                           </script>
                           <!--PRJ 8184 - linkpdf novo p.k 10/24/15 FIM-->
                           <script type="text/javascript">
                              //display_contents
                              function setDataLayer(){
                                try {
                                  var metadataTarget = 'LinkPDF';
                                  
                                  if(metadataTarget == "Pagamento" || metadataTarget == "UltimasFaturas"){
                                    var dataLayer = '';
                                    document.OiDatalayer = JSON.parse(dataLayer);
                                    
                                  }
                              
                                  if(metadataTarget == "UltimasFaturas"){
                                    var dataLayerPDFClick = '';
                                    $('a[title="PDF"]').click(function(){
                                      document.OiDatalayer = JSON.parse(dataLayerPDFClick);
                                      document.OiDatalayer.pageInfo.url = $(this).attr("href");
                                    });
                                  }
                                  
                                  if(metadataTarget == "Demonstrativo"){
                                    var dataLayer = '';
                                    document.OiDatalayer = JSON.parse(dataLayer);
                                  }
                                  
                                  document.OiDatalayer.pageInfo.url = window.location.href;
                                }
                                catch(err) {
                                    console.log(err);
                                }
                                  
                              
                              };		
                              
                              
                                $(document).ready(function(){
                                  setDataLayer();
                                });	
                              
                                $( document ).ajaxComplete(function( event, xhr, settings ) {
                                  setDataLayer();
                                });	
                              
                                    
                                
                           </script>
                           <!--  fim conteudo e-billing -->
                           <div id="acesso">
                              <div class="vgn-ext-region" vgnextregionname="detalhes_fatura_oct_menu_botoes_novo" vgnextregionscope="template" vgnextregiontypes="VgnExtQuery" vgnextregionid="cf40d1e851c80510VgnVCM1000009ad0200aRCRD" vgnextjspoverrideuri="/vgn-ext-templating/renderers/MinhaOi/detalhes_fatura/menu_botoes.jsp">
                                 <div  class="vgn-ext-component" vgnextcomponentid="5d19e94efb64f210VgnVCM10000031d0200aRCRD" vgnextxmlname="VgnExtQuery">
                                    <a class="btn btn-default" href="/portal/site/MinhaOi/menuitem.d1c50c701c9124de25b425b4246d02a0/?vgnextoid=20ab0b5df037e210VgnVCM1000009ad0200aRCRD" role="button"><span class="conta-detalhada"></span>Ver Conta Detalhada</a>
                                    <a class="btn btn-default" href="/portal/site/MinhaOi/menuitem.f64d612e7150b4de25b425b4246d02a0/?vgnextoid=165d0b5df037e210VgnVCM1000009ad0200aRCRD" role="button"><span class="cod-barras-pagamento"></span>Código de Barras para Pagamento</a>
                                    <a class="btn btn-default" href="/portal/site/MinhaOi/menuitem.c5610aaf2e1254de25b425b4246d02a0/?vgnextoid=2326433b0d27e210VgnVCM1000009ad0200aRCRD" role="button"><span class="ultimas-contas"></span>Últimas Contas</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="meus-atalhos row center-block">
                           <h4>Para o seu Combo</h4>
                           <div class="vgn-ext-region" vgnextregionname="home_produto_oct_menu_acesso_rapido_novo" vgnextregionscope="template" vgnextregiontypes="VgnExtQuery" vgnextregionid="06c0d1e851c80510VgnVCM1000009ad0200aRCRD" vgnextjspoverrideuri="/vgn-ext-templating/renderers/MinhaOi/atalho/menu_acesso_rapido.jsp">
                              <div  class="vgn-ext-component" vgnextcomponentid="5869e94efb64f210VgnVCM10000031d0200aRCRD" vgnextxmlname="VgnExtQuery">
                                 <!-- MENU ACESSO RAPIDO BEGIN -->
                                 <a title="Recarga Online" class="btn btn-default" href="/portal/site/MinhaOi/menuitem.ec10c32f89b20bafc313c313eccc02a0/?vgnextoid=e85a27e947c98410VgnVCM10000031d0200aRCRD" role="button"><span class="mini-icon-mobile"></span><span class="text-align">Recarga Online</span></a>		
                                 <a title="Perfil de Consumo" class="btn btn-default" href="/portal/site/MinhaOi/menuitem.27e4dc8b6107e4de25b425b4246d02a0/?vgnextoid=18eb0b5df037e210VgnVCM1000009ad0200aRCRD" role="button"><span class="mini-icon-mobile"></span><span class="text-align">Perfil de Consumo</span></a>		
                                 <a title="Religar Serviço" class="btn btn-default" href="/portal/site/MinhaOi/menuitem.59121883cad7fdd5ab86ab86026d02a0/?vgnextoid=c2994481babe0410VgnVCM10000031d0200aRCRD" role="button"><span class="mini-icon-mobile"></span><span class="text-align">Religar Serviço</span></a>		
                                 <a title="Solicitar Reparo" class="btn btn-default" href="/portal/site/MinhaOi/menuitem.9073efc65d0ac912fe82fe82246d02a0/?vgnextoid=20cf0b5df037e210VgnVCM1000009ad0200aRCRD" role="button"><span class="mini-icon-fixo"></span><span class="text-align">Solicitar Reparo</span></a>		
                                 <!-- MENU ACESSO RAPIDO END -->
                              </div>
                           </div>
                        </div>

                        <div class="meus-atalhos row center-block">
                          <h4>Oi Pontos</h4>
                          <div class="vgn-ext-region" vgnextregionname="home_produto_oct_menu_acesso_rapido_novo" vgnextregionscope="template" vgnextregiontypes="VgnExtQuery" vgnextregionid="06c0d1e851c80510VgnVCM1000009ad0200aRCRD" vgnextjspoverrideuri="/vgn-ext-templating/renderers/MinhaOi/atalho/menu_acesso_rapido.jsp">
                              <div class="vgn-ext-component" vgnextcomponentid="5869e94efb64f210VgnVCM10000031d0200aRCRD" vgnextxmlname="VgnExtQuery">
                                      <a title="Recarga Online" class="btn btn-default" href="oi-pontos.html" role="button"><span class="mini-icon-mobile"></span><span class="text-align">Ver meus pontos</span></a>
                              </div>
                          </div>
                        </div>

                        <div class="addons row center-block">
                        </div>
                     </div>

                  </div>
              </section>

              <!-- gráfico -->
              <section>
                  <div style="margin-top: 48px;" class="col-xs-12 without-padding">
                    <div class="col-xs-8 without-padding">
                      <h4>Resumo do consumo do seu plano</h4>
                      <div class="panel panel-default">
                         <div class="panel-heading bar-chart">
                           <h4>Consumo de internet</h4>
                         </div>
                         <div class="panel-body">
                           <!-- start graphic -->
                           <div class="wrapper-graphic-cingapura">
                              <div class="container-label">
                                <span class="label-min"></span>
                                <!-- <span class="label-middle"></span> -->
                                <span class="label-max"></span>
                              </div>
                              <div class='container-graphic'>
                                <div class="proporcional-adesao">
                                </div>
                                <div class="valor-atual"></div>
                              </div>
                              <!-- div class="info" trigger="manual" data-toggle="tooltip-info" title="Internet proporcional a sua data de adesão ao plano">i</div -->
                              <i class="info material-icons"
                                trigger="manual"
                                data-toggle="tooltip-info" title="">info_outline</i>
                              <div class="current-data">
                                <span class="arrow-border"></span>
                                <span class="arrow"></span>
                                <span class="data"></span>
                              </div>
                            </div>
                            <div class="data-de-renovacao">
                              <span>Data de renovação: 25/07/2017</span>
                            </div>
                            <div class="consumo-detalhado-wrapper">
                              <button class="ver-detalhes-por-pessoa__">Ver consumo detalhado por pessoa</button>

                              <div>
                                <span class="collapsed detalhes" data-toggle="collapse" data-target="#detalhes-por-pessoa__">
  				                      </span>
                              </div>
                            </div>
                            <div id="detalhes-por-pessoa__" class="collapse">
                              <div class="full-container-chart">
                                <div class="header">
                                  <h4>Disponível pra navegar</h4>
                                </div>
                                <div class="col-xs-12 charts-dados-navegados">
                                </div>

                              </div>
                            </div>
                         </div>
                      </div>
                    </div>
                    
                </div>
              </section>

              <!-- outros gráficos abaixo -->
              <section id="saldoMinutos" class="account-saldoAtual">
             <script type="text/javascript">
                var dataDiff = '';

                var infoSaldo = new Array();


                infoSaldo[0] =
                {
                	"nomeCategoria" : "VOZ",
                 	"franquias-compartilhadas" :
                    		[

                				{"nome" : "Franquia off-net 100 minutos sem rollover",
                				 "contratado" : 100,
                				 "consumido" : 54,
                				 "disponivel" : 46,
                				 "unidade" : "MIN",
                				 "unidadeContratado" : "",
                				 "porcentagem" : "55",
                				 "hint" : "",
                				 "excedente" : "0",
                				 "unidadeExcedente" : "",
                				 "unidadeExtraFranquia" : "",
                				 "unidadeDisponivel" : "MIN",
                				 "rollover" : '',
                				 "excedenteRaw": "0",
                				 "consumidoRaw": "3252",
                				 "contratadoRaw": "6000"
                				}

                				,


                				{"nome" : "Pacote DDD e Roaming Nacional",
                				 "contratado" : 50,
                				 "consumido" : 11,
                				 "disponivel" : 40,
                				 "unidade" : "MIN",
                				 "unidadeContratado" : "",
                				 "porcentagem" : "21",
                				 "hint" : "",
                				 "excedente" : "0",
                				 "unidadeExcedente" : "",
                				 "unidadeExtraFranquia" : "",
                				 "unidadeDisponivel" : "MIN",
                				 "rollover" : '',
                				 "excedenteRaw": "0",
                				 "consumidoRaw": "630",
                				 "contratadoRaw": "3000"
                				}

                				,


                				{"nome" : "Franquia on-net e fixo sem rollover",
                				 "contratado" : 500000,
                				 "consumido" : 0,
                				 "disponivel" : 500000,
                				 "unidade" : "MIN",
                				 "unidadeContratado" : "",
                				 "porcentagem" : "0",
                				 "hint" : "",
                				 "excedente" : "0",
                				 "unidadeExcedente" : "",
                				 "unidadeExtraFranquia" : "",
                				 "unidadeDisponivel" : "MIN",
                				 "rollover" : '',
                				 "excedenteRaw": "0",
                				 "consumidoRaw": "0",
                				 "contratadoRaw": "30000000"
                				}

                				,


                				{"nome" : "Franquia off-net 50 minutos sem rollover",
                				 "contratado" : 50,
                				 "consumido" : 50,
                				 "disponivel" : 0,
                				 "unidade" : "MIN",
                				 "unidadeContratado" : "",
                				 "porcentagem" : "100",
                				 "hint" : "",
                				 "excedente" : "0",
                				 "unidadeExcedente" : "",
                				 "unidadeExtraFranquia" : "",
                				 "unidadeDisponivel" : "MIN",
                				 "rollover" : '',
                				 "excedenteRaw": "0",
                				 "consumidoRaw": "3000",
                				 "contratadoRaw": "3000"
                				}


                    		],
                	"consumoExtra" :
                		[
                			{"nome" : "Minutos de voz fora da franquia contratada", "unidade" : "MIN", "valor" : 0, "descricao" : "Aqui você verifica os minutos gastos com serviços que não fazem parte da sua franquia. Este consumo implicará uma cobrança extra na sua conta."}
                		]

                };

                infoSaldo[1] =
                {
                	"nomeCategoria" : "EVENTO",
                 	"franquias-compartilhadas" :
                    		[

                				{"nome" : "Pacote Oi Torpedo Ilimitado",
                				 "contratado" : 50000,
                				 "consumido" : 0,
                				 "disponivel" : 50000,
                				 "unidade" : "TORPEDOS",
                				 "unidadeContratado" : "",
                				 "porcentagem" : "0",
                				 "hint" : "",
                				 "excedente" : "0",
                				 "unidadeExcedente" : "",
                				 "unidadeExtraFranquia" : "",
                				 "unidadeDisponivel" : "TORPEDOS",
                				 "rollover" : '',
                				 "excedenteRaw": "0",
                				 "consumidoRaw": "0",
                				 "contratadoRaw": "50000"
                				}


                    		],
                	"consumoExtra" :
                		[
                			{"nome" : "Torpedos fora da franquia contratada", "unidade" : "TORPEDOS", "valor" : 0, "descricao" : "Aqui você verifica o número de torpedos enviados além do permitido pelas suas franquias exibidas acima. Este consumo implicará uma cobrança extra na sua conta."}
                		]

                };


                var infoCompartilhada = new Array(); //array for non-shared bundles

                var telefonesInclusos = new Array(); // array for all terminals

                var telefones = ""; // array for all terminals



             </script>
             <!-- BEGIN Novo Saldo Parcial 2013 -->
             <div id="saldo" class="saldo-parcial col-xs-8 without-padding">
                <div class="clearfix">
                   <div class="pull-left">
                      <h4>Saldo Parcial</h4>
                   </div>
                   <div class="pull-right data-saldo">
                      <p>Início da conta:
                         13/06/2017
                      </p>
                      <p>Fechamento da conta:
                         13/07/2017
                      </p>
                   </div>
                </div>
                <!-- BEGIN Abas -->
                <div class="panel panel-default extra">
                   <div class="panel-body panel-oi">
                      <div class="header degrade">
                         <div class="pull-left col-xs-2">
                            <h4>Plano</h4>
                         </div>
                         <div class="pull-left col-xs-7 center-block control-tab">
                            <span class="periodo">
                               <p>Visualizar:</p>
                               <span id="ico-grafico" class="active">
                               <a href="#" title="Gáfico"></a>
                               </span>
                               <span id="ico-lista" class="">
                               <a href="#" title="Tabela"></a>
                               </span>
                            </span>
                         </div>
                         <div class="control-collapse pull-right col-xs-3 text-right" style="display: block;">
                            <a id="collapse-saldo-parcial" href="javascript:void(0);">+ Detalhes</a>
                            <span class="detalhes"></span>
                         </div>
                      </div>
                      <!-- Conteúdo do Saldo Parcial Dinâmico -->
                      <script src="/ArquivosEstaticos/MinhaOi/scripts/saldo.js" type="text/javascript"></script>
                      <div id="parcial-graficos" class="graficos-consumo abaSaldo" style="display: block;">
                         <table class="bloco-franquia item-plano">
                            <colgroup>
                               <col class="col-xs-4">
                               <col class="">
                               <col class="">
                               <col class="">
                            </colgroup>
                            <thead></thead>
                            <tbody class="VOZ">
                               <tr class="tit-produto">
                                  <td colspan="4" class="nome-item-novo"><strong>VOZ</strong></td>
                               </tr>
                               <tr>
                                  <td class="consumoParcial">
                                     <div class="novo-voz">
                                        <p>Minutos para qualquer operadora do Brasil</p>
                                        <span class="consumoVoz">259 min</span>
                                        <!-- <ul>
                                           <input type="hidden" value="0" id="valorExcedente"><input type="hidden" value="" id="unidadeExcedente">
                                           <li class="first text-right"><b>100</b>&nbsp;MIN&nbsp;</li>
                                           <li class="percentSaldo">
                                              <div class="leftConsumido"></div>
                                              <div class="percetConsumido  parcial" style="width: 226.85px;">
                                                 <div class="traco" style="width: 226.85px;"><b>55</b><strong>%</strong></div>
                                              </div>
                                              <div class="saldoFranquiaTotal" style="display: none;"><strong>Franquia 100% consumida</strong></div>
                                           </li>
                                           <li class="valConsumido" style="margin-left: 212.85px;"><b>54</b>&nbsp;MIN</li>
                                        </ul> -->
                                     </div>
                                  </td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <small class="saldoN">O seu saldo é aproximado e refere-se ao consumo até o dia 30/06/2017.</small>
                <!--input type="hidden" id="dataExtracao" value="O seu saldo é aproximado e refere-se ao consumo até o dia 30/06/2017."-->
             </div>
             <!--END Novo Saldo Parcial 2013 -->
             <input type="hidden" value="" id="valorExcedente">
             <input type="hidden" value="" id="unidadeExcedente">
             <!-- DPC Google Analytics -->
          </section>


          <section>
            <div class="col-xs-8 without-padding" style="margin-top:30px;">
              <h4>Serviços Adicionais</h4>

              <p style="margin-top:20px"><b>Conteúdos do seu plano</b>.<br/>
                Além de falar e navegar, use todo o conteúdo exclusivo que temos.
                Facilite a sua vida com os conteúdos que acompanham o seu plano. Tudo na palma da sua mão.
                É só baixar e aproveitar.
              </p>

              <p>
                <a href="/test" style="font-size: 14px;font-weight: bold;line-height: 1.07;text-align: center;color: #222222;text-decoration:underline;margin-top:20px;display: inline-block;">
                  Confira os Conteúdos do seu plano
                </a>
              </p>
            </div>
          </section>

          <section class="account-historicoConta">
            <div class="col-xs-12 without-padding" style="margin-top:70px;">
            	 <h4>Histórico de Conta</h4>

            	 	<table>
            		<tbody><tr class="first-child">
            			<td class="first-child">
                    <img src="/ArquivosEstaticos/MinhaOi/images/historico.png" alt="" width="632" height="204"></td>
            			<!-- Alinhamento central da mensagem STI 85082 - Esteira agil - 27/05 -->
            			<td style="font-family: Arial; font-size: 10px;" align="center" class="last-child">
            			<img src="/ArquivosEstaticos/MinhaOi/images/dotted.png"><br>
            			Média de<br>Consumo<br>272,86
            			</td>
            		</tr>
            		<tr class="last-child">
            			<td style="font-family: Arial; font-size: 10px;" align="center" class="first-child last-child">Valores exibidos no gráfico em Reais</td>
            		</tr>
            		</tbody></table>
            </div>
        	</section>


				</div>
			</div>

		</div>
	</div>
	<!-- end: div_content -->

</div>

<script src="/ArquivosEstaticos/MinhaOi/modalDesbloqueioPorConfianca/js/modalDesbloqueioConfianca.js"> </script>
<!-- End Page Content -->
<script type="text/javascript">
   try{
   	//caio.alves.veras
   		$(document).ready( function(){
   			console.log( 'Valor do Frame ----> ' +  $('#frameFormTHS').length);
   			try{
   				if( $('#frameFormTHS').length > 0 ){
   				document.oiDataLayer = JSON.parse('{"pageInfo":{"url":"debloqueioemconfianca","pageName":"desbloqueio_em_confianca_MOI"},"userInfo":{"userID":"uQflDkjNDh9Hj%2FcV92I1gg%3D%3D%0A","userName":"V%2BWmrQvfY9TXU86ibgGYKKFskK1SEG%2BfE3ReDGKK18k%3D%0A","email":"","birthDate":"iibTkaOFcTx909jYpMl1Wg%3D%3D%0A","gender":"FEMININO","age":"65","estado":"PI","nomeCliente":"3XDQsv4g1qaII7eVeER8Lg48idowCi8VTR%2Fnu%2BbDxmP9icunrJlx%2FzC%2BXEr1UOuS%0A"},"terminalInfo":{"terminais":[{"product":"TIT","plan":"Oi Total","ddd":"4t6e0INSxQ4%3D%0A","number":"XQe44czSbQowvlxK9VDrkg%3D%3D%0A"},{"product":"TIT","plan":"Oi Total","ddd":"4t6e0INSxQ4%3D%0A","number":"bTxVIVS2YcZEbFncWwHNfA%3D%3D%0A"},{"product":"TIT","plan":"Oi Internet","ddd":"4t6e0INSxQ4%3D%0A","number":"XQe44czSbQowvlxK9VDrkg%3D%3D%0A"}]}}');
   				}
   			}catch(e){
   				console.log(e);
   			}
   		});
   
   
   	$(document).ajaxComplete(function (event, xhr, setting){
   		console.log( 'Valor do Frame - Ajax Complete ----> ' +  $('#frameFormTHS').length);
   		
   			if( $('#frameFormTHS').length > 0 ){
   				document.oiDataLayer = JSON.parse('{"pageInfo":{"url":"debloqueioemconfianca","pageName":"desbloqueio_em_confianca_MOI"},"userInfo":{"userID":"uQflDkjNDh9Hj%2FcV92I1gg%3D%3D%0A","userName":"V%2BWmrQvfY9TXU86ibgGYKKFskK1SEG%2BfE3ReDGKK18k%3D%0A","email":"","birthDate":"iibTkaOFcTx909jYpMl1Wg%3D%3D%0A","gender":"FEMININO","age":"65","estado":"PI","nomeCliente":"3XDQsv4g1qaII7eVeER8Lg48idowCi8VTR%2Fnu%2BbDxmP9icunrJlx%2FzC%2BXEr1UOuS%0A"},"terminalInfo":{"terminais":[{"product":"TIT","plan":"Oi Total","ddd":"4t6e0INSxQ4%3D%0A","number":"XQe44czSbQowvlxK9VDrkg%3D%3D%0A"},{"product":"TIT","plan":"Oi Total","ddd":"4t6e0INSxQ4%3D%0A","number":"bTxVIVS2YcZEbFncWwHNfA%3D%3D%0A"},{"product":"TIT","plan":"Oi Internet","ddd":"4t6e0INSxQ4%3D%0A","number":"XQe44czSbQowvlxK9VDrkg%3D%3D%0A"}]}}');
   			}
   	});
   
   	//anderson.b.a.araujo
   	var jsonDataLayerStrFixoHomeProduto2via = JSON.parse('{"pageInfo":{"url":"/portal/site/MinhaOi/2ViaConta","pageName":"Home_inicio_MOI"},"userInfo":{"userID":"uQflDkjNDh9Hj%2FcV92I1gg%3D%3D%0A","userName":"V%2BWmrQvfY9TXU86ibgGYKKFskK1SEG%2BfE3ReDGKK18k%3D%0A","email":"","birthDate":"iibTkaOFcTx909jYpMl1Wg%3D%3D%0A","gender":"FEMININO","age":"65","estado":"","nomeCliente":"3XDQsv4g1qaII7eVeER8Lg48idowCi8VTR%2Fnu%2BbDxmP9icunrJlx%2FzC%2BXEr1UOuS%0A"},"terminalInfo":{"terminais":[]}}');
   	var jsonDataLayerStrOctHomeProduto2via = JSON.parse('{"pageInfo":{"url":"/portal/site/MinhaOi/2ViaConta","pageName":"Home_inicio_MOI"},"userInfo":{"userID":"uQflDkjNDh9Hj%2FcV92I1gg%3D%3D%0A","userName":"V%2BWmrQvfY9TXU86ibgGYKKFskK1SEG%2BfE3ReDGKK18k%3D%0A","email":"","birthDate":"iibTkaOFcTx909jYpMl1Wg%3D%3D%0A","gender":"FEMININO","age":"65","estado":"PI","nomeCliente":"3XDQsv4g1qaII7eVeER8Lg48idowCi8VTR%2Fnu%2BbDxmP9icunrJlx%2FzC%2BXEr1UOuS%0A"},"terminalInfo":{"terminais":[{"product":"TIT","plan":"Oi Total","ddd":"4t6e0INSxQ4%3D%0A","number":"XQe44czSbQowvlxK9VDrkg%3D%3D%0A"},{"product":"TIT","plan":"Oi Total","ddd":"4t6e0INSxQ4%3D%0A","number":"bTxVIVS2YcZEbFncWwHNfA%3D%3D%0A"}]}}');
   
   	$(document).ready(function(){
   		console.log("-------ready---------");
   		setTimeout(function(){ 
   			//Set segunda-via fixo dataLayer btn click
   			$("#box-fixo .acesso-rapido .bt-via:not(.disabled)").unbind();
   			$("#box-fixo .acesso-rapido .bt-via:not(.disabled)").click(function(){
   				document.OiDatalayer = jsonDataLayerStrFixoHomeProduto2via;
   				// document.OiDatalayer.pageInfo.url = $(this).attr("href");					
   			});
   
   			//Set segunda-via combo dataLayer btn click
   			$("#box-combo .acesso-rapido .bt-via:not(.disabled)").unbind();
   			$("#box-combo .acesso-rapido .bt-via:not(.disabled)").click(function(){
   				document.OiDatalayer = jsonDataLayerStrOctHomeProduto2via;
   				// document.OiDatalayer.pageInfo.url = $(this).attr("href");
   			});
   		}, 2000);
   	});	
   
   
   	$( document ).ajaxComplete(function( event, xhr, settings ) {
   		console.log("-------ajaxComplete---------");
   		setTimeout(function(){ 
   			//Set segunda-via fixo dataLayer btn click
   			$("#box-fixo .acesso-rapido .bt-via:not(.disabled)").unbind();
   			$("#box-fixo .acesso-rapido .bt-via:not(.disabled)").click(function(){
   				document.OiDatalayer = jsonDataLayerStrFixoHomeProduto2via;
   				// document.OiDatalayer.pageInfo.url = $(this).attr("href");					
   			});
   
   			//Set segunda-via combo dataLayer btn click
   			$("#box-combo .acesso-rapido .bt-via:not(.disabled)").unbind();
   			$("#box-combo .acesso-rapido .bt-via:not(.disabled)").click(function(){
   				document.OiDatalayer = jsonDataLayerStrOctHomeProduto2via;
   				// document.OiDatalayer.pageInfo.url = $(this).attr("href");
   			});
   		}, 2000);
   
   		
   	});
   
   }catch(e){
   	console.log(e);
   }
   
   	
   
   
</script>

<!-- Plugins -->
<script src="/ArquivosEstaticos/MinhaOi/lib/jquery/jquery.min.js"></script>
<script src="/ArquivosEstaticos/MinhaOi/lib/bootstrap/bootstrap.min.js"></script>
<script src="/ArquivosEstaticos/MinhaOi/lib/jquery/jquery.validate.min.js"></script>
<script src="/ArquivosEstaticos/MinhaOi/lib/fancybox/jquery.fancybox.pack.js"></script>
<script src="/ArquivosEstaticos/MinhaOi/lib/enscroll/enscroll.js"></script>
<!-- PRJ 4740 - Fale Conosco START -->
<script src="/ArquivosEstaticos/MinhaOi/lib/jquery/jquery.selectbox-0.2.js"></script>
<!-- PRJ 4740 - Fale Conosco END -->
<script src="/ArquivosEstaticos/MinhaOi/scripts/innershiv.min.js"></script>
<script src="/ArquivosEstaticos/MinhaOi/scripts/jquery.blockUI.js"></script>
<!-- Custom Scripts -->
<script src="/ArquivosEstaticos/MinhaOi/js/selectboxInit.js"></script>
<script src="/ArquivosEstaticos/MinhaOi/js/minhaoi.js"></script>
<script src="/ArquivosEstaticos/MinhaOi/scripts/tooltips.js"></script>
<script src="/ArquivosEstaticos/MinhaOi/scripts/functions.js"></script>
<script src="/ArquivosEstaticos/MinhaOi/scripts/tabsinteraction.js"></script>
<script src="/ArquivosEstaticos/MinhaOi/scripts/menu.js"></script>
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="/ArquivosEstaticos/MinhaOi/style/ies.css" media="all" />
<script src="/ArquivosEstaticos/MinhaOi/lib/html5shiv/html5shiv.min.js"></script>
<script src="/ArquivosEstaticos/MinhaOi/lib/respond/respond.min.js"></script>
<![endif]-->
<!--[if IE 9]>
<link href="css/ie9.css" rel="stylesheet">
<![endif]-->
