
<div id="home-produto" class="main pull-left">
<style>
    /* <!-- inject:css --> */
</style>
  <section class="breadcrumb">
    <!--  INICIO BREADCRUMB -->
    <strong>Você está em: </strong><a href="oi-pontos.html">Seu Oi Pontos</a> > Meus dados</span>
    <!--  FIM BREADCRUMB -->
 </section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
<div id="divContent" class="meus-dados">
<!-- begin: style_minhaoi_container_plano -->
	<div id="box-internet">
		<h2 class="sub-header">
			<span class="mini-icon-home"></span>
	    <a href="/portal/site/MinhaOi/home_produto_int">Oi Pontos</a>
		</h2>
		<div class="panel panel-default row box-produto">
			<div class="panel-body">
          <div class="row box-header oi-header">

              <div class="pontos-header">
                <div>
                  <dl>
                    <dt>Saldo de pontos</dt>
                    <dd>708,50</dd>
                  </dl>
                </div>
                <div>
                  <dl>
                    <dt>Pontos a expirar nos próximos 30 dias</dt>
                    <dd class="menor">50,50</dd>
                  </dl>
                </div>
                <ul class="menu-header right">
                  <li><a href="extrato.html"><i class="material-icons">&#xE8B0;</i><span>Meu extrato</span></a></li>
                  <li><a href="meus-cupons.html"><i class="material-icons">&#xE638;</i><span>Meus cupons</span></a></li>
                  <li><a href="meus-dados-logado.html" class="active"><i class="material-icons">&#xE7FD;</i><span class="active">Meus dados</span></a></li>
                </ul>

              </div>
              <!-- FIM PONTOS-HEADER -->

          </div>
          <section class="meus-dados-info">
            <h2 class="h2-oi-pontos">
              Meus dados
            </h2>
            <p>
              Mantenha seus dados <strong>sempre atualizados</strong> para que a Oi possa entrar em
              contato e que você possa resgatar seus prêmios com sucesso.
            </p>
            <div class="meus-dados-details">
              <ul>
                <li>
                  Nome Completo:
                </li>
                <li>
                  E-mail Cadastrado:
                </li>
                <li>
                  Terminais autorizados para receber SMS::
                </li>
              </ul>
              <ul class="meus-dados-respostas">
                <li class="meus-dados-nome">
                  Maycon Correia Ramos
                </li>
                <li class="meus-dados-email">
                  mayconcorreia90@gmail.com
                </li>
                <li class="meus-dados-sms">
                  (21) 98765-4321, (21) 98765-4322
                </li>
              </ul>
            </div>
          </section>
          <section class="border-dot-top">
            <h2 class="h2-oi-pontos">
              Status
            </h2>
            <p>
              Você está ativo no Oi Pontos e pode trocar seus pontos por prêmios.
            </p>
            <a href="#" data-toggle="modal" data-target="#cancelaParticipacaoModal" class="pontos-links-small font-bold">Deseja cancelar sua participação?</a>
          </section>

          <section class="modal-pontos modal-experiencia">
            <div id="cancelaParticipacaoModal" role="dialog" class="modal fade" style="display: none;">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button data-dismiss="modal" type="button" class="close"><i class="material-icons close-icon" id="close">&#xE5CD;</i></button>
                    <p class="modal__title">Cancelar sua participação?</p>
                  </div>
                  <div class="modal-body">
                  <p>
                  Ao cancelar a sua participação, você não poderá resgatar os seus pontos e nem consultar o seu saldo ou extrato.
                  </p>
                </div>
                <div class="modal-footer">
                  <a href="#" type="button" class="btn btn-default confirma-resgate-modal">Confirmar</a>
                  <a data-dismiss="modal" type="button" class="">Cancelar</a>

                </div>
              </div>
            </div>
            </div>
          </section>


          <!-- <section class="pontos-info">
            <p>
                Tire suas dúvidas pelo <a href="#" class="pontos-links">Dúvidas frequentes.</a>
            </p>
            <p>
               Pra falar com o Oi Pontos ligue do seu Oi <strong>*3131</strong> ou de
               qualquer fixo <strong>0800 284-3131</strong> de Segunda à Domingo de 07:40 às 20:20
               (horário de Brasília).
            </p>
            <p>
               Consulte o <a href="#" class="pontos-links">regulamento do programa.</a>
            </p>
          </section> -->

						<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


	          <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->


				</div>

			</div>
      <p class="back-button">
        <a class="back" href="#"><i class="material-icons arrows">&#xE314;</i><span>Voltar</span>  </a>

      </p>

		</div>
	</div>
</div>
