
<div id="home-produto" class="main pull-left">
<style>
    /* <!-- inject:css --> */
</style>
  <section class="breadcrumb">
    <!--  INICIO BREADCRUMB -->
    <strong>Você está em: </strong><a href="oi-pontos.html">Seu Oi Pontos</a> > Meus cupons</span>
    <!--  FIM BREADCRUMB -->
 </section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
<div id="divContent" class="meus-cupons">
<!-- begin: style_minhaoi_container_plano -->
	<div id="box-internet">
		<h2 class="sub-header">
			<span class="mini-icon-home"></span>
	    <a href="/portal/site/MinhaOi/home_produto_int">Oi Pontos</a>
		</h2>
		<div class="panel panel-default row box-produto">
			<div class="panel-body">
          <div class="row box-header oi-header">

              <div class="pontos-header">
                <div>
                  <dl>
                    <dt>Saldo de pontos</dt>
                    <dd>708,50</dd>
                  </dl>
                </div>
                <div>
                  <dl>
                    <dt>Pontos a expirar nos próximos 30 dias</dt>
                    <dd class="menor">50,50</dd>
                  </dl>
                </div>
                <ul class="menu-header right">
                  <li><a href="extrato.html"><i class="material-icons">&#xE8B0;</i><span>Meu extrato</span></a></li>
                  <li><a href="#" class="active"><i class="material-icons">&#xE638;</i><span class="active">Meus cupons</span></a></li>
                  <li><a href="meus-dados-logado.html" class=""><i class="material-icons">&#xE7FD;</i><span class="">Meus dados</span></a></li>
                </ul>

              </div>
              <!-- FIM PONTOS-HEADER -->

          </div>
          <section class="title">
            <h2 class="h2-oi-pontos">
              Meus cupons
            </h2>
          </section>
          <section class="meus-cupons-table">
            <table class="table">
              <thead>
                <tr>
                  <td>Data</td>
                  <td>Parceiro</td>
                  <td>Descrição</td>
                  <td>Pontos</td>
                  <td class="cupom-numero">Nº do Cupom</td>
                </tr>
              </thead>
              <tbody class="cupoms-total">
                <tr class="cupom-index">
                  <td class="cupom-data">01/08</td>
                  <td class="cupom-parceiro font-bold">Netshoes</td>
                  <td class="cupom-descricao">R$20 OFF nas compras acima de R$140</td>
                  <td class="cupom-pontos">150</td>
                  <td class="cupom-numero font-bold">CND3OI15KDYFIS7</td>
                </tr>
                <tr class="cupom-index">
                  <td class="cupom-data">01/08</td>
                  <td class="cupom-parceiro font-bold">Resort for All</td>
                  <td class="cupom-descricao">Cupom de 10% de desconto</td>
                  <td class="cupom-pontos">500</td>
                  <td class="cupom-numero font-bold">2495100</td>
                </tr>
                <tr class="cupom-index">
                  <td class="cupom-data">01/08</td>
                  <td class="cupom-parceiro font-bold">Netshoes</td>
                  <td class="cupom-descricao">R$20 OFF nas compras acima de R$140</td>
                  <td class="cupom-pontos">150</td>
                  <td class="cupom-numero font-bold">CND3OI15KDYFIS7</td>
                </tr>
                <tr class="cupom-index">
                  <td class="cupom-data">01/08</td>
                  <td class="cupom-parceiro font-bold">Resort for All</td>
                  <td class="cupom-descricao">Cupom de 10% de desconto</td>
                  <td class="cupom-pontos">500</td>
                  <td class="cupom-numero font-bold">2495100</td>
                </tr>
                <tr class="cupom-index">
                  <td class="cupom-data">01/08</td>
                  <td class="cupom-parceiro font-bold">Netshoes</td>
                  <td class="cupom-descricao">R$20 OFF nas compras acima de R$140</td>
                  <td class="cupom-pontos">150</td>
                  <td class="cupom-numero font-bold">CND3OI15KDYFIS7</td>
                </tr>

                <tr class="cupom-index">
                  <td class="cupom-data">01/08</td>
                  <td class="cupom-parceiro font-bold">teste</td>
                  <td class="cupom-descricao">R$20 OFF nas compras acima de R$140</td>
                  <td class="cupom-pontos">150</td>
                  <td class="cupom-numero font-bold">CND3OI15KDYFIS7</td>
                </tr>
                <tr class="cupom-index">
                  <td class="cupom-data">01/08</td>
                  <td class="cupom-parceiro font-bold">Resort for All</td>
                  <td class="cupom-descricao">Cupom de 10% de desconto</td>
                  <td class="cupom-pontos">500</td>
                  <td class="cupom-numero font-bold">2495100</td>
                </tr>
                <tr class="cupom-index">
                  <td class="cupom-data">01/08</td>
                  <td class="cupom-parceiro font-bold">teste</td>
                  <td class="cupom-descricao">R$20 OFF nas compras acima de R$140</td>
                  <td class="cupom-pontos">150</td>
                  <td class="cupom-numero font-bold">CND3OI15KDYFIS7</td>
                </tr>
                <tr class="cupom-index">
                  <td class="cupom-data">01/08</td>
                  <td class="cupom-parceiro font-bold">Resort for All</td>
                  <td class="cupom-descricao">Cupom de 10% de desconto</td>
                  <td class="cupom-pontos">500</td>
                  <td class="cupom-numero font-bold">2495100</td>
                </tr>
                <tr class="cupom-index">
                  <td class="cupom-data">01/08</td>
                  <td class="cupom-parceiro font-bold">teste</td>
                  <td class="cupom-descricao">R$20 OFF nas compras acima de R$140</td>
                  <td class="cupom-pontos">150</td>
                  <td class="cupom-numero font-bold">CND3OI15KDYFIS7</td>
                </tr>

                <tr class="cupom-index">
                  <td class="cupom-data">01/08</td>
                  <td class="cupom-parceiro font-bold">bla</td>
                  <td class="cupom-descricao">R$20 OFF nas compras acima de R$140</td>
                  <td class="cupom-pontos">150</td>
                  <td class="cupom-numero font-bold">CND3OI15KDYFIS7</td>
                </tr>
                <tr class="cupom-index">
                  <td class="cupom-data">01/08</td>
                  <td class="cupom-parceiro font-bold">Resort for All</td>
                  <td class="cupom-descricao">Cupom de 10% de desconto</td>
                  <td class="cupom-pontos">500</td>
                  <td class="cupom-numero font-bold">2495100</td>
                </tr>
                <tr class="cupom-index">
                  <td class="cupom-data">01/08</td>
                  <td class="cupom-parceiro font-bold">bla</td>
                  <td class="cupom-descricao">R$20 OFF nas compras acima de R$140</td>
                  <td class="cupom-pontos">150</td>
                  <td class="cupom-numero font-bold">CND3OI15KDYFIS7</td>
                </tr>
                <tr class="cupom-index">
                  <td class="cupom-data">01/08</td>
                  <td class="cupom-parceiro font-bold">Resort for All</td>
                  <td class="cupom-descricao">Cupom de 10% de desconto</td>
                  <td class="cupom-pontos">500</td>
                  <td class="cupom-numero font-bold">2495100</td>
                </tr>
                <tr class="cupom-index">
                  <td class="cupom-data">01/08</td>
                  <td class="cupom-parceiro font-bold">bla</td>
                  <td class="cupom-descricao">R$20 OFF nas compras acima de R$140</td>
                  <td class="cupom-pontos">150</td>
                  <td class="cupom-numero font-bold">CND3OI15KDYFIS7</td>
                </tr>
              </tbody>
            </table>

              <div class="table-nav">
                <a href="#" class="prev">Anterior </a>
                <span class="current-page">-</span>
                <a href="#" class="next active"> Próximo</a>
              </div>

          </section>


						<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


	          <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->


				</div>

			</div>
      <p class="back-button">
        <a class="back" href="#"><i class="material-icons arrows">&#xE314;</i><span>Voltar</span>  </a>

      </p>
      <div class="info-error">
        <p>TEXTO COM ERRO</p>


         <p>Os resgates disponíveis são exclusivos e limitados, podendo sofrer alterações sem aviso prévio.
         O resgate somente será efetivado quando o beneficiário receber o e-mail com a confirmação do mesmo.
         Antes de concluir o resgate, avalie todas as regras e condições, pois não haverá possibilidade de cancelamento
         e estorno de pontos. Participar desta promoção, implica na aceitação sem reservas deste regulamento.
         Os cupons de desconto não contam com qualquer modalidade de sorte. Os cupons de desconto não são cumulativos entre
         si em um mesmo pacote nem com outras promoções e ações do parceiro. Os cupons de desconto não podem em hipótese alguma
         serem trocados por dinheiro. O participante poderá resgatar o cupom de desconto para benefício próprio e/ou para terceiros.
         As imagens são meramente ilustrativas Caso exista alguma outra dúvida, o cliente deverá entrar em contato com a
         Central de Relacionamento Netshoes. Regras: (1) desconto não válido para combos e para as categorias suplementos,
         bikes, equipamentos fitness, eletrônicos, jogos, games, kits e produtos com o selo zattini, (2) promoção válida
         somente para produtos vendidos e entregues pela netshoes, (3) desconto não cumulativo no período de black friday,
         (4) essa ação não é acumulativa com outras promoções do site; (5) a promoção será inativada impossibilitando a
         utilização do cupom, caso o usuário clique em algum outro banner de cupom ou alguma mídia externa netshoes
         exemplo: e-mail marketing, anúncios no google, facebook, buscadores entre outros; sendo necessário que acesse
         novamente o link dessa promoção para reativar o cupom, (6) resgate é limitado até dOis por cpf e está sujeito a
         disponibilidade e (7) a Oi não se responsabiliza por nenhum tipo de translado e/ou hospedagem do cliente, para a
         utilização do prêmio resgatado. Para mais informações, acesse www.Oi.com.br/Oipontos ou ligue 0800 284 3131 ou *3131 do seu Oi.</p>
      </div>
		</div>
	</div>
</div>
