
<div id="home-produto" class="main pull-left">
<style>
    /* <!-- inject:css --> */
</style>
  <section class="breadcrumb">
    <!--  INICIO BREADCRUMB -->
    <strong>Você está em: </strong><a href="oi-pontos.html">Seu Oi Pontos</a> > Meus dados</span>
    <!--  FIM BREADCRUMB -->
 </section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
<div id="divContent" class="meus-dados">
<!-- begin: style_minhaoi_container_plano -->
	<div id="box-internet">
		<h2 class="sub-header">
			<span class="mini-icon-home"></span>
	    <a href="/portal/site/MinhaOi/home_produto_int">Oi Pontos</a>
		</h2>
		<div class="panel panel-default row box-produto">
			<div class="panel-body">
          <div class="row box-header oi-header">

              <div class="pontos-header">
                <div>
                  <dl>
                    <dt>Saldo de pontos</dt>
                    <dd>708,50</dd>
                  </dl>
                </div>
                <div>
                  <dl>
                    <dt>Pontos a expirar nos próximos 30 dias</dt>
                    <dd class="menor">50,50</dd>
                  </dl>
                </div>
                <ul class="menu-header right">
                  <li><a href="extrato.html"><i class="material-icons">&#xE8B0;</i><span>Meu extrato</span></a></li>
                  <li><a href="meus-cupons.html"><i class="material-icons">&#xE638;</i><span>Meus cupons</span></a></li>
                  <li><a href="meus-dados-logado.html" class="active"><i class="material-icons">&#xE7FD;</i><span class="active">Meus dados</span></a></li>
                </ul>

              </div>
              <!-- FIM PONTOS-HEADER -->

          </div>
          <section class="error-msg">
              <i class="material-icons">&#xE5C9;</i>
              <span>Tente mais tarde. Serviço indisponível no momento.</span>
          </section>



						<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


	          <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->


				</div>

			</div>
      <p class="back-button">
        <a class="back" href="#"><i class="material-icons arrows">&#xE314;</i><span>Voltar</span>  </a>

      </p>

		</div>
	</div>
</div>
