<a href="#" class="btn btn-default btn-block-redistribuicao" data-toggle="modal" data-target="#esgotadoModal">Ver detalhes</a>

<section class="modal-pontos modal-experiencia">
  <div id="esgotadoModal" role="dialog" class="modal fade" style="display: none;">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button data-dismiss="modal" type="button" class="close"><i class="material-icons close-icon" id="close">&#xE5CD;</i></button>
          <p class="modal__title">Evento esgotado.</p>
        </div>
        <div class="modal-body">
        <p>Infelizmente, não há mais ingressos disponíveis para essa experiência.</p>
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" type="button" class="btn btn-default btn-oi-pontos">OK</a>
      </div>
    </div>
  </div>
  </div>
</section>
