<div id="home-produto" class="main pull-left">
<style>
    /* <!-- inject:css --> */
</style>
  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>Recompansas

      Seu Oi Pontos
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
<div id="divContent" class="oi-pontos">
<!-- begin: style_minhaoi_container_plano -->
	<div id="box-internet">
		<h2 class="sub-header">
			<span class="mini-icon-home"></span>
	    <a href="/portal/site/MinhaOi/home_produto_int">Oi Pontos</a>
		</h2>
		<div class="panel panel-default row box-produto">
			<div class="panel-body">
				<div class="row box-header oi-header">
              <div class="pontos-header">
                <div>
                  <dl>
                    <dt>Saldo de pontos</dt>
                    <dd>708,50</dd>
                  </dl>
                </div>
                <div>
                  <dl>
                    <dt>Pontos a expirar nos próximos 30 dias</dt>
                    <dd class="menor">50,50</dd>
                  </dl>
                </div>
                <ul class="menu-header right">
                  <li><a href="extrato.html"><i class="material-icons">&#xE8B0;</i><span>Meu extrato</span></a></li>
                  <li><a href="meus-cupons.html"><i class="material-icons">&#xE638;</i><span>Meus cupons</span></a></li>
                  <li><a href="meus-dados-logado.html" class=""><i class="material-icons">&#xE7FD;</i><span class="">Meus dados</span></a></li>
                </ul>

              </div>
              <!-- FIM PONTOS-HEADER -->


						</div>
            <section class="main-tabs">
              <h2 class="aparelhos-main-title h2-oi-pontos">Troque seus pontos por:</h2>
              <ul class="nav nav-pills">
                <li class="active"><a href="#1a" data-toggle="tab">Aparelhos</a></li>
                <li><a href="#2a" data-toggle="tab">Recompensas</a></li>
                <li><a href="#3a" data-toggle="tab">Experiências</a></li>
                <li><a href="#4a" data-toggle="tab">Beneficios Oi</a></li>

              </ul>
              <div class="tab-content clearfix">
        			  <div class="tab-pane active" id="1a">
                  <section class="aparelhos-title">
                    <h2 class="h2-oi-pontos">Resgate de aparelhos e tablets:</h2>
                  </section>

                  <section class="banner">
                  <img src="/ArquivosEstaticos/MinhaOi/images/banner-pontos.png" alt="">
                  </section>

                  <section class="aparelhos-cart">
                    <div class="">
                      <h2 class="h2-oi-pontos">Acessar seu carrinho</h2>
                      <p>Você tem compras pendentes no carrinho, <a href="#" class="pontos-links font-bold">clique aqui</a></p>
                    </div>
                    <div class="aparelhos-resgate">
                      <h2 class="h2-oi-pontos">Já resgatou seu aparelho?</h2>
                      <a href="#" class="pontos-links font-bold">Acompanhe seu pedido</a>
                    </div>
                  </section>

                  <section>

                    <div class="pontos-info">
                      <p>
                        Precisa de ajuda? Acesse <a href="#" class="pontos-links">Dúvidas frequentes.</a>
                      </p>
                      <p>
                         Pra falar com o Oi Pontos ligue do seu Oi <strong>*3131</strong> ou de
                         qualquer fixo <strong>0800 284-3131</strong> de Segunda à Domingo de 07:40 às 20:20
                         (horário de Brasília).
                      </p>
                      <p>
                        Consulte o <a href="#" class="pontos-links">regulamento do programa.</a>
                      </p>
                    </div>
                  </section>
        				</div>
        				<div class="tab-pane recompensas" id="2a">
                    <section class="aparelhos-title">
                        <h2 class="h2-oi-pontos">Catálogo de recompensas:</h2>
                        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja.</p>
                     </section>

                     <section class="banner">
                        <!-- Carousel  -->
                        <div id="myCarousel" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                            <img src="https://www.oipontos.com.br/Library/Catalogo/parceiros/Banner/Lavanda%20SPA.png" class="img-responsive">
                            <div class="container">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            </div>
                            <div class="item">
                            <img src="https://www.oipontos.com.br/Library/Catalogo/parceiros/Banner/Lavanda%20SPA.png" class="img-responsive">
                            <div class="container">
                                <div class="carousel-caption">

                                </div>
                            </div>
                            </div>
                            <div class="item">
                            <img src="https://www.oipontos.com.br/Library/Catalogo/parceiros/Banner/Lavanda%20SPA.png" class="img-responsive">
                            <div class="container">
                                <div class="carousel-caption">

                                </div>
                            </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <i class="material-icons arrows">&#xE314;</i>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <i class="material-icons arrows">&#xE315;</i>
                        </a>
                        </div>
                        <!-- /.carousel -->
                     </section>

                     <section class="recompensas-panel">
                      <div class="row">
                         <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card card-block item-recompensas">
                              <div class="box-img-recompensas">
                                <a href="recompensas-interna.html"><img alt="img-recompensas" src="https://www.oipontos.com.br/Library/Catalogo/Parceiros/Thumbs/Logo%20Resort%20For%20All_Oi.png" /></a>
                              </div>
                              <div class="card-block">
                                <p class="recompensas-title">Resorts for all</p>
                              </div>
                            </div>
                         </div>
                         <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card card-block item-recompensas">
                              <div class="box-img-recompensas">
                                <a href="recompensas-interna.html"><img alt="img-recompensas" src="https://www.oipontos.com.br/Library/Catalogo/Parceiros/Thumbs/MagazineLuiza.png" /></a>
                              </div>
                              <div class="card-block">
                                  <p class="recompensas-title">Magazine Luiza</p>
                               </div>
                            </div>
                         </div>
                         <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card card-block item-recompensas">
                              <div class="box-img-recompensas">
                                <a href="recompensas-interna.html"><img alt="img-recompensas" src="https://www.oipontos.com.br/Library/Catalogo/Parceiros/Thumbs/Lavanda%20SPA.png" /></a>
                              </div>
                              <div class="card-block">
                                  <p class="recompensas-title">Lavanda Spa Club</p>
                               </div>
                            </div>
                         </div>
                         <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card card-block item-recompensas">
                                <div class="box-img-recompensas">
                                  <a href="recompensas-interna.html"><img alt="img-recompensas" src="https://www.oipontos.com.br/Library/Catalogo/Parceiros/Thumbs/FotoRegistro.png" /></a>
                              </div>
                              <div class="card-block">
                                  <p class="recompensas-title">Foto Registro</p>
                               </div>
                            </div>
                         </div>
                         <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card card-block item-recompensas">
                                <div class="box-img-recompensas">
                                  <a href="recompensas-interna.html"><img alt="img-recompensas" src="https://www.oipontos.com.br/Library/Catalogo/Parceiros/Thumbs/BURDA.png" /></a>
                              </div>
                              <div class="card-block">
                                  <p class="recompensas-title">Burda</p>
                               </div>
                            </div>
                         </div>
                         <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card card-block item-recompensas">
                                <div class="box-img-recompensas">
                                  <a href="recompensas-interna.html"><img alt="img-recompensas" src="https://www.oipontos.com.br/Library/Catalogo/Parceiros/Thumbs/RGB.Positivo.png" /></a>
                              </div>
                              <div class="card-block">
                                  <p class="recompensas-title">Oi Futuro</p>
                               </div>
                            </div>
                         </div>
                         <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card card-block item-recompensas">
                                <div class="box-img-recompensas">
                                  <a href="recompensas-interna.html"><img alt="img-recompensas" src="https://www.oipontos.com.br/Library/Catalogo/Parceiros/Thumbs/110_110_netshoes.png" /></a>
                              </div>
                              <div class="card-block">
                                  <p class="recompensas-title">Netshoes</p>
                               </div>
                            </div>
                         </div>
                         <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card card-block item-recompensas">
                                <div class="box-img-recompensas">
                                  <a href="recompensas-interna.html"><img alt="" src="https://www.oipontos.com.br/Library/Catalogo/Parceiros/Thumbs/Zattini_110x110.jpg" /></a>
                              </div>
                              <div class="card-block">
                                  <p class="recompensas-title">Zattini</p>
                               </div>
                            </div>
                         </div>
                       </div>
                   </section>
                   <section>

                     <div class="pontos-info">
                       <p>
                         Precisa de ajuda? Acesse <a href="#" class="pontos-links">Dúvidas frequentes.</a>
                       </p>
                       <p>
                          Pra falar com o Oi Pontos ligue do seu Oi <strong>*3131</strong> ou de
                          qualquer fixo <strong>0800 284-3131</strong> de Segunda à Domingo de 07:40 às 20:20
                          (horário de Brasília).
                       </p>
                       <p>
                         Consulte o <a href="#" class="pontos-links">regulamento do programa.</a>
                       </p>
                     </div>
                   </section>
                </div>




                <div class="tab-pane experiencias" id="3a">
                  <section class="title">
                    <h2 class="h2-oi-pontos">Próximas experiências</h2>
                    <p>Confira os prêmios do Oi Pontos disponíveis pra você.</p>
                  </section>

                  <section class="eventos-thumbs">
                    <div class="evento-item invisible-border available" onclick="location.href='experiencias-interna.html'">
                      <p class="evento-label-esgotado visihidden">
                        <i class="material-icons">&#xE638;</i>
                        <span>Esgotado</span>
                      </p>

                      <div class="evento-img">

                          <img src="ArquivosEstaticos/MinhaOi/images/monicaa.png" alt="">

                      </div>

                        <p class="text">
                          <span>Turma da Mônica</span>
                          <span>Oi Casa Grande</span>
                          <span>Rio de Janeiro - RJ</span>
                        </p>

                    </div>

                    <div class="evento-item" data-toggle="modal" data-target="#esgotadoModal">
                      <p class="evento-label-esgotado">
                        <i class="material-icons">&#xE638;</i>
                        <span>Esgotado</span>
                      </p>
                    <div class="evento-img">
                      <img src="ArquivosEstaticos/MinhaOi/images/desperados.png" alt="">
                    </div>
                      <p class="text">
                        <span>Desesperados</span>
                        <span>Oi Casa Grande</span>
                        <span>Rio de Janeiro - RJ</span>
                      </p>
                    </div>
                  </section>
                  <section>

                    <div class="pontos-info">
                      <p>
                        Precisa de ajuda? Acesse <a href="#" class="pontos-links">Dúvidas frequentes.</a>
                      </p>
                      <p>
                         Pra falar com o Oi Pontos ligue do seu Oi <strong>*3131</strong> ou de
                         qualquer fixo <strong>0800 284-3131</strong> de Segunda à Domingo de 07:40 às 20:20
                         (horário de Brasília).
                      </p>
                      <p>
                        Consulte o <a href="#" class="pontos-links">regulamento do programa.</a>
                      </p>
                    </div>
                  </section>
                  <section class="modal-pontos modal-experiencia">
                    <div id="esgotadoModal" role="dialog" class="modal fade" style="display: none;">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button data-dismiss="modal" type="button" class="close"><i class="material-icons close-icon" id="close">&#xE5CD;</i></button>
                            <p class="modal__title">Evento esgotado.</p>
                          </div>
                          <div class="modal-body">
                          <p>Infelizmente, não há mais ingressos disponíveis para essa experiência.</p>
                        </div>
                        <div class="modal-footer">
                          <a data-dismiss="modal" type="button" class="btn btn-default btn-oi-pontos">OK</a>
                        </div>
                      </div>
                    </div>
                    </div>
                  </section>
        				</div>
                <div class="tab-pane beneficios" id="4a">
                  <section class="title">
                    <h2 class="h2-oi-pontos">Benefícios Oi</h2>
                  </section>

                  <section class="beneficios-items">
                    <p class="font-bold no-beneficios-item"></p>
                    <div class="beneficios-item" onclick="location.href='beneficios-interna.html'">
                      <p class="beneficios-title">
                          30 SMS por 12 meses
                      </p>
                      <p class="beneficios-pontos">
                          450 Pontos
                      </p>
                    </div>
                    <div class="beneficios-item" onclick="location.href='beneficios-interna.html'">
                      <p class="beneficios-title">

                          30 SMS por 6 meses
                      </p>
                      <p class="beneficios-pontos">

                          300 Pontos
                      </p>
                    </div>
                    <div class="beneficios-item" onclick="location.href='beneficios-interna.html'">
                      <p class="beneficios-title">

                          SMS ilimitado por 12 meses
                      </p>
                      <p class="beneficios-pontos">

                          3000 Pontos
                      </p>
                    </div>
                    <div class="beneficios-item" onclick="location.href='beneficios-interna.html'">
                      <p class="beneficios-title">

                          SMS ilimitado por 6 meses
                      </p>
                      <p class="beneficios-pontos">

                          2000 Pontos
                      </p>
                    </div>
                  </section>
                  <section>

                    <div class="pontos-info">
                      <p>
                        Precisa de ajuda? Acesse <a href="#" class="pontos-links">Dúvidas frequentes.</a>
                      </p>
                      <p>
                         Pra falar com o Oi Pontos ligue do seu Oi <strong>*3131</strong> ou de
                         qualquer fixo <strong>0800 284-3131</strong> de Segunda à Domingo de 07:40 às 20:20
                         (horário de Brasília).
                      </p>
                      <p>
                        Consulte o <a href="#" class="pontos-links">regulamento do programa.</a>
                      </p>
                    </div>
                  </section>

                </div>
        			</div>
            </section>
						<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


	          <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->


					</div>
				</div>
		</div>
	</div>
</div>
