<div id="home-produto" class="main pull-left">
    <style>
        /* <!-- inject:css --> */
    </style>
      <section class="breadcrumb">
        <!--  INICIO BREADCRUMB -->
        <strong>Você está em: </strong><a href="oi-pontos.html">Seu Oi Pontos</a> > Recompensas</span>
        <!--  FIM BREADCRUMB -->
     </section>
        <!-- style_minhaoi_nav_produto :: INICIO -->
    <div id="divContent" class="experiencias-success">
    <!-- begin: style_minhaoi_container_plano -->
        <div id="box-internet">
            <h2 class="sub-header">
                <span class="mini-icon-home"></span>
            <a href="/portal/site/MinhaOi/home_produto_int">Oi Pontos</a>
            </h2>
            <div class="panel panel-default row box-produto">
                <div class="panel-body">
              <section class="success-msg">
                <i class="material-icons success-icon">&#xE86C;</i>
                <span>Resgate concluído</span>
              </section>

              <section class="experiencias-success-info">
                <a class="oi-pontos-print">
                <i class="material-icons print-icon">&#xE8AD;</i>
                  <span>
                    Imprimir
                  </span>
                </a>
                <div class="experiencia-img">
                  <img src="https://www.oipontos.com.br/Library/Catalogo/Parceiros/Thumbs/110_110_netshoes.png" alt="">
                </div>
                <div class="experiencias-success-details">
              <ul>
                <li>
                  <p class="espacamento-li-experiencia">Nome:</p>
                  <p class="experiencias-resgate-solicitação size-span-experiencia">Bianca Vieitas Silva</p>
                </li>
                <li>
                  <p class="espacamento-li-experiencia">CPF:</p>
                  <p class="experiencias-resgate-data size-span-experiencia">1234567890</p>
                </li>
                <li>
                  <p class="espacamento-li-experiencia">Número do Cupom:</p>
                  <p class="experiencias-resgate-tipo resgate-tipo size-span-experiencia">CNS2OI15KCIPP</p>
                </li>
                <li>
                  <p class="espacamento-li-experiencia">Descrição:</p>
                  <p class="experiencias-resgate-pontos size-span-experiencia" >Ganhe R$40 OFF nas compras acima de R$ 260</p>
                </li>
                <li>
                  <p class="espacamento-li-experiencia">Saldo final:</p>
                  <p class="experiencias-resgate-saldo size-span-experiencia">458,50 pontos</p>
                </li>
                <li>
                  <p class="espacamento-li-experiencia">Nº de Protocolo:</p>
                  <p class="experiencias-resgate-protocolo size-span-experiencia">61-0734-00000055948</p>
                </li>
              </ul>
            </div>
              </section>

              <section class="border-dot-top experiencias-como">
                <h2 class="h2-oi-pontos">Como usar</h2>
                <p>Acesse o hotsite da parceria pelo endereço <a class="pontos-links" href="http://www.netshoes.com.br/Oipontos">www.netshoes.com.br/Oipontos</a>. Para ativar o desconto, digite o código resgatado no Oi Pontos no campo “vale” na página de pagamento. Por fim, finalize a compra com cartão de crédito. Atenção! Válido apenas para compras realizadas pelo site. Certifique-se de sua compra está sendo feita em <a class="pontos-links" href="http://www.netshoes.com.br/Oipontos" target="_blank">www.netshoes.com.br/Oipontos</a> e veja as regras de resgate .</p>
              </section>
              <section class="border-dot-top">
                <h2 class="h2-oi-pontos">Regras de uso</h2>
                <p>Os resgates disponíveis são exclusivos e limitados, podendo sofrer alterações sem aviso prévio. O resgate somente será efetivado quando o beneficiário receber o e-mail com a confirmação do mesmo. Antes de concluir o resgate, avalie todas as regras e condições, pois não haverá possibilidade de cancelamento e estorno de pontos. Participar desta promoção, implica na aceitação sem reservas deste regulamento. Os cupons de desconto não contam com qualquer modalidade de sorte. Os cupons de desconto não são cumulativos entre si em um mesmo pacote nem com outras promoções e ações do parceiro. Os cupons de desconto não podem em hipótese alguma serem trocados por dinheiro. O participante poderá resgatar o cupom de desconto para benefício próprio e/ou para terceiros. As imagens são meramente ilustrativas. Caso exista alguma outra dúvida, o cliente deverá entrar em contato com a Central de Relacionamento Netshoes. Regras: (1) desconto não válido para combos e para as categorias suplementos, bikes, equipamentos fitness, eletrônicos, jogos, games, kits e produtos com o selo Zattini, (2) promoção válida somente para produtos vendidos e entregues pela Netshoes, (3) desconto não cumulativo no período de Black Friday, (4) essa ação não é acumulativa com outras promoções do site; (5) a promoção será inativada impossibilitando a utilização do cupom, caso o usuário clique em algum outro banner de cupom ou alguma mídia externa Netshoes. Exemplo: e-mail marketing, anúncios no Google, Facebook, buscadores entre outros; sendo necessário que acesse novamente o link dessa promoção para reativar o cupom, (6) resgate é limitado até dois por CPF e está sujeito a disponibilidade e (7) a Oi não se responsabiliza por nenhum tipo de translado e/ou hospedagem do cliente, para a utilização do prêmio resgatado. Para mais informações, acesse <a class="pontos-links" href="http://www.netshoes.com.br/Oipontos" target="_blank">www.oi.com.br/oipontos</a> ou ligue 0800 284 3131 ou *3131 do seu Oi.</p>
              </section>
              <section>
                  <a class="btn btn-default btn-large-oi-pontos" href="oi-pontos.html">Voltar para o início</a>
                </section>

              <!-- <section class="pontos-info">
                <p>
                    Tire suas dúvidas pelo <a href="#" class="pontos-links">Dúvidas frequentes.</a>
                </p>
                <p>
                   Pra falar com o Oi Pontos ligue do seu Oi <strong>*3131</strong> ou de
                   qualquer fixo <strong>0800 284-3131</strong> de Segunda à Domingo de 07:40 às 20:20
                   (horário de Brasília).
                </p>
                <p>
                   Consulte o <a href="#" class="pontos-links">regulamento do programa.</a>
                </p>
              </section> -->

                            <!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


                  <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->


                    </div>

                </div>


            </div>
        </div>
    </div>
