<div id="home-produto" class="main pull-left">
        <style>
           /* <!-- inject:css --> */
        </style>

        <!-- MODAL - SOBRE -->
        <section class="modal-pontos modal-experiencia">
          <div id="recompensassobre" role="dialog" class="modal fade" style="display: none;">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button data-dismiss="modal" type="button" class="close"><i class="material-icons close-icon" id="close">&#xE5CD;</i></button>
                  <p class="modal__title">Sobre a Netshoes</p>
                </div>
                <div class="modal-body">
                <p>Com atuação no Brasil, Argentina e México, a Netshoes é apontada como o maior e-commerce de artigos esportivos do mundo. O esporte está no DNA, assim como a inovação, praticidade e agilidade. A missão da empresa é inspirar e transformar a vida das pessoas com mais esporte e lazer. Para isso, oferece mais de 40 mil artigos esportivos, em mais de 25 categorias como corrida, futebol, fitness, musculação, suplementos, bike, basquete e muito mais.</p>

                <p class="modal-subtitle modal-subtitle-sobre">Regras de uso</p>

                <p>Os resgates disponíveis são exclusivos e limitados, podendo sofrer alterações sem aviso prévio. O resgate somente será efetivado quando o beneficiário receber o e-mail com a confirmação do mesmo. Antes de concluir o resgate, avalie todas as regras e condições, pois não haverá possibilidade de cancelamento e estorno de pontos. Participar desta promoção, implica na aceitação sem reservas deste regulamento. Os cupons de desconto não contam com qualquer modalidade de sorte. Os cupons de desconto não são cumulativos entre si em um mesmo pacote nem com outras promoções e ações do parceiro. Os cupons de desconto não podem em hipótese alguma serem trocados por dinheiro. O participante poderá resgatar o cupom de desconto para benefício próprio e/ou para terceiros. As imagens são meramente ilustrativas. Caso exista alguma outra dúvida, o cliente deverá entrar em contato com a Central de Relacionamento Netshoes. Regras: (1) desconto não válido para combos e para as categorias suplementos, bikes, equipamentos fitness, eletrônicos, jogos, games, kits e produtos com o selo Zattini, (2) promoção válida somente para produtos vendidos e entregues pela Netshoes.</p>
              </div>
              <div class="modal-footer">
                <a data-dismiss="modal" type="button" class="btn btn-default btn-oi-pontos">OK</a>
              </div>
            </div>
          </div>
          </div>
        </section>

        <!-- MODAL - COMO USAR -->
        <section class="modal-pontos modal-experiencia">
          <div id="comousar" role="dialog" class="modal fade" style="display: none;">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button data-dismiss="modal" type="button" class="close"><i class="material-icons close-icon" id="close">&#xE5CD;</i></button>
                  <p class="modal__title">Como Usar</p>
                </div>
                <div class="modal-body">
                <p>Como usar seus pontos: Acesse o hotsite da recompensa pelo endereço www.netshoes.com.br/oipontos. Para ativar o desconto, digite o código resgatado no Oi Pontos no campo “vale” na página de pagamento. Por fim, finalize a compra com cartão de crédito. Atenção! Válido apenas para compras realizadas pelo site. Certifique-se de que sua compra está sendo feita em www.netshoes.com.br/Oipontos e confira as regras de resgate.</p>
              </div>
              <div class="modal-footer">
                <a data-dismiss="modal" type="button" class="btn btn-default btn-oi-pontos">OK</a>
              </div>
            </div>
          </div>
          </div>
        </section>

        <!-- MODAL - CONFIRMA RESGATE -->
        <section class="modal-pontos modal-experiencia">
          <div id="confirmaresgate" role="dialog" class="modal fade" style="display: none;">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button data-dismiss="modal" type="button" class="close"><i class="material-icons close-icon" id="close">&#xE5CD;</i></button>
                  <p class="modal__title">Confirma o resgate?</p>
                </div>
                <div class="modal-body">
                  <p class="modal-confirma-spacer"><span>Você vai trocar 250 pontos por:</span> R$40 OFF nas compras acima de R$ 260.<p>
                  <p>Saldo após o resgate: <span>458,50 pontos</span>.</p>
                </div>
                <div class="modal-footer">
                  <a href="recompensas-sucesso.html" type="button" class="btn btn-default btn-oi-pontos">Confirmar</a>
                  <a href="#" class="modal-cancelar" data-dismiss="modal">Cancelar</a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="breadcrumb">
           <!--  INICIO BREADCRUMB -->
           <strong>Você está em: </strong><a href="oi-pontos.html">Seu Oi Pontos</a> > Recompensas</span>
           <!--  FIM BREADCRUMB -->
        </section>
        <!-- style_minhaoi_nav_produto :: INICIO -->
        <div id="divContent" class="recompensas-interna">
           <!-- begin: style_minhaoi_container_plano -->
           <div id="box-internet">
              <h2 class="sub-header">
                 <span class="mini-icon-home"></span>
                 <a href="/portal/site/MinhaOi/home_produto_int">Oi Pontos</a>
              </h2>
                <div class="panel panel-default row box-produto">

                    <div class="panel-body">

                        <div class="row box-header oi-header">

                            <div class="pontos-header">
                                    <div>
                                        <dl>
                                            <dt>Saldo de pontos</dt>
                                            <dd>708,50</dd>
                                        </dl>
                                    </div>

                                    <div>
                                        <dl>
                                            <dt>Pontos a expirar nos próximos 30 dias</dt>
                                            <dd class="menor">50,50</dd>
                                        </dl>
                                    </div>

                                    <ul class="menu-header right">
                                      <li><a href="extrato.html"><i class="material-icons">&#xE8B0;</i><span>Meu extrato</span></a></li>
                                      <li><a href="meus-cupons.html"><i class="material-icons">&#xE638;</i><span>Meus cupons</span></a></li>
                                      <li><a href="meus-dados-logado.html"><i class="material-icons">&#xE7FD;</i><span>Meus dados</span></a></li>
                                    </ul>
                                </div>
                                <!-- FIM PONTOS-HEADER -->





                        </div>
                        <!-- FIM ROW BOX-HEADER -->


                        <section class="recompensas-detail">
                            <h2>Sobre a Netshoes</h2>
                            <img src="https://www.oipontos.com.br/Library/Catalogo/Parceiros/Thumbs/110_110_netshoes.png" class="rounded pull-left" alt="img-recompensas">
                            <p class="recompensas-descricao">Com atuação no Brasil, Argentina e México, a Netshoes é apontada como o maior e-commerce de artigos esportivos do mundo. O esporte está no DNA, assim como a inovação, praticidade e agilidade. A missão da empresa é inspirar e transformar a vida das pessoas com mais esporte e lazer. Para isso, oferece mais de 40 mil artigos esportivos, em mais de 25… <a href="#" class="pontos-links" data-toggle="modal" data-target="#recompensassobre">Leia mais</a>
                            </p>
                          <ul class="recompensas-links">
                              <!-- <li><a href="#" class="pontos-links" data-toggle="modal" data-target="#lerMaisModal">Ler Mais</a></li> -->
                              <li><a href="#" class="pontos-links" data-toggle="modal" data-target="#comousar">Como usar</a></li>
                            </ul>

                        </section>

                        <section class="title">
                                <p>Cupons disponíveis:</p>
                        </section>

                        <section class="recompensas-items">

                                <div class="recompensas-item">
                                  <div class="recompensas-title" >
                                    Ganhe R$60 OFF nas compras acima de R$360 
                                  </div>
                                  <p class="recompensas-pontos">
                                    350 Pontos
                                  </p>
                                </div>
                                <div class="recompensas-item" data-toggle="modal" data-target="#confirmaresgate">
                                  <div class="recompensas-title">
                                    Ganhe R$40 OFF nas compras acima de R$260
                                  </div>
                                  <p class="recompensas-pontos">
                                    250 Pontos
                                  </p>
                                </div>
                                <div class="recompensas-item invisible-border">
                                  <div class="recompensas-title invisible-title">
                                    Ganhe R$20 OFF nas compras acima de R$140
                                  </div>
                                  <p class="recompensas-label-embreve">

                                    <span>Em breve</span>
                                  </p>
                                  <p class="recompensas-pontos invisible-pontos">
                                    250 Pontos
                                  </p>
                                </div>

                              </section>

                    </div>
                    <!-- FIM PANEL-BODY -->

                </div>
                <!-- FIM panel panel-default row box-produto -->

                <p class="back-button">
                  <a class="back" href="oi-pontos.html"><i class="material-icons arrows">&#xE314;</i><span>Voltar</span></a>
                </p>


                    <!-- style_minhaoi_menu_segundo_nivel :: INICIO -->
                    <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->




           </div>
        </div>
     </div>
